<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <title>标详情</title>
    <meta name="keywords" content="小牛在线优享牛">
    <meta name="description" content="小牛在线优享牛是小牛在线平台推出的便捷高效的委托投标工具,用户委托平台将资金投向平台项目,且回款本息由客户委托系统复投,保障资金利用率.">


    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="shortcut icon" href="//image.xiaoniu88.com/static/WebXn/dist/images/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" th:src="@{/js/main/base-6100562494.js}"></script>
    <link th:href="@{/css/main/base-ddb0535420.css}" rel="stylesheet">

    <script th:src="@{/js/bootstrap.js}"></script>
    <script>
        window.global = {
            cdn: "//image.xiaoniu88.com",
            siteroot: "http://www.xiaoniu88.com",
            staticPath: "//image.xiaoniu88.com/static/WebXn/dist",
            contextPath: "/product",
            serverTime: "1592007606925"*1,
            userId: "",
            isLogin: false
        }
    </script>

    <script type="text/javascript" src="//image.xiaoniu88.com/static/WebXn/dist/module/common/common-83987ed24e.js"></script>
    <link th:href="@{/css/main/detail-58c71fea0f.css}" rel="stylesheet">
    <style>
        .item{
            min-height: 290px;
            width: 1000px;
            margin: 40px auto;
            padding-bottom: 30px;
        }
        .goumai{
            width: 122px;
            line-height: 36px;
            text-align: center;
            font-size: 14px;
            border-radius: 5px;
            color: #ff7136;
            border: 1px solid #ff7136;
            background-color: white;
            cursor:pointer
        }
        .goumai:hover{
            color: white;
            background-color: #ff7136;
        }
        .collapse {
            display: none;
        }
        .well {
            min-height: 20px;
            width: 260px;
            padding: 19px;
            margin-bottom: 20px;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        }
        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .btn-group > .btn:first-child {
            margin-left: 76px;
        }
        .btn-group > .btn, .btn-group-vertical > .btn {
            position: relative;
            float: left;
        }
        .btn-danger {
            color: #fff;
            background-color: #d9534f;
            border-color: #d43f3a;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .btn-primary {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
            border-radius: 0 4px 4px 0;
        }
        .input-group {
            position: relative;
            display: table;
            border-collapse: separate;
            -webkit-box-sizing: border-box;
        }
        .input-group {
            position: relative;
            display: table;
            border-collapse: separate;
        }
        .input-group-addon:first-child {
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .input-group-addon {
            padding: 6px 12px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1;
            color: #555;
            text-align: center;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .input-group-addon{
            width: 1%;
            white-space: nowrap;
            vertical-align: middle;
            display: table-cell;
        }
        .input-group .form-control {
            position: relative;
            z-index: 2;
            float: left;
            width: 84%;
            margin-bottom: 0;
        }
        .form-control {
            display: block;
            width: 100%;
            height: 25px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        .lie{
            float: left;
            width: 100%;
            list-style-type:none;
            margin: 5px 0;
            border-bottom: 1px dashed #ccc;
            transition: 0.5s;
        }
        .lie:hover{
            border-bottom: 1px solid #ccc;
            box-shadow: 5px 5px 15px #ccc;
        }
        .lie p{
            width: 22%;
            margin: 0;
            padding: 10px 0;
            float: left;
            text-align: center;
        }
        .titles{
            float: left;
            width: 100%;
            list-style-type:none;
            margin: 5px 0;
            border-bottom: 1px solid #000;
        }
        .titles p{
            width: 22%;
            margin: 0;
            padding: 10px 0;
            font-size: 18px;
            float: left;
            text-align: center;
        }

        .yHlist{
            height: 40px;
            padding: 3px 5px;
            background-color: #f2dede;
            border: 1px dashed red;
            margin-bottom: 5px;
            border-radius: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<input type="hidden" value="financial" id="menuCur">
<!-- 头部 -->
<!--[if lt IE 9]>
<script src="//image.xiaoniu88.com/static/WebXn/dist/lib/html5/html5-083d84e804.js"></script >
<![endif]-->
<input value="false" type="hidden" id="isLogin"/>
<div class="affiche" id="afficheModel">
<span>小牛在线提醒您：为了更流畅的访问本网站，建议您使用IE9.0及以上版本浏览器或360浏览器。
	<a class="link" href="http://se.360.cn" target="_blank" rel="nofollow">点击进入360官网下载&gt;&gt;</a>
</span>
    <i class="icon-common icon-common-close"></i>
</div>
<header class="header">
    <div class="container">
        <div class="hotline">全国服务热线：4006-0755-70</div>
        <ul class="info" id="ulLoginStatus">
            <li class="user" th:if="${session.user!=null}">
                <a href="/user/toAO" th:text="${session.user.uName}">
                </a>
                <a class="ext" href="/user/logout">[&nbsp;安全退出&nbsp;]</a>
            </li>
            <li class="user" th:if="${session.user==null}">
                <a href="/user/login" id="head-login-btn">登录</a>
                <a href="/user/register">注册</a>
            </li>
            <li class="line">|</li>
            <li><a target="_blank" th:href="@{/integral/main}">积分商城</a></li>
            <li class="line">|</li>
            <li><a target="_blank" href="/cms/help/index">帮助中心</a></li>
            <li class="line">|</li>
            <li><a target="_blank" href="/cms/hr/index">加入我们</a></li>
            <li class="line">|</li>
            <li><a target="_blank" href="/cms/about/service">客服团队</a></li>
            <li class="line">|</li>
            <li class="app-area">
                <a target="_blank" href="/portal/promotion/app/introduce">手机客户端</a>
                <div class="panel">
                    <img src="//image.xiaoniu88.com/static/WebXn/dist/images/head/app_code-d694bd529c.png" width="88px"
                         height="88px" alt="专业P2P网贷平台-小牛在线APP" />
                    <span>小牛在线APP</span>
                </div>
            </li>
            <li class="line">|</li>
            <li class="code-area wx-area">
                <div class="img-code"><i class="icon-common icon-common-weixin"></i></div>
                <div class="panel">
                    <img src="//image.xiaoniu88.com/static/WebXn/dist/images/head/wx_code-8a1de64ae8.png" width="88px"
                         height="88px" alt="小牛在线互联网金融平台官方微信" />
                    <span>官方微信</span>
                </div>
            </li>
            <li class="line">|</li>
            <li class="code-area wb-area">
                <div class="img-code"><i class="icon-common icon-common-weibo"></i></div>
                <div class="panel">
                    <img src="//image.xiaoniu88.com/static/WebXn/dist/images/head/wb-5299cdce97.png" width="88px" height="88px" alt="小牛在线官方微博" />
                    <span>官方微博</span>
                </div>
            </li>
            <li class="line">|</li>
            <li class="code-area community-area">
                <div class="img-code"><i class="icon-common icon-common-community"></i></div>
                <div class="panel">
                    <img src="//image.xiaoniu88.com/static/WebXn/dist/images/head/community-bcae11afca.png" width="88px" height="88px" alt="小牛在线兴趣部落" />
                    <span>兴趣部落</span>
                </div>
            </li>
        </ul>
    </div>
</header>
<!--导航-->
<div class="navigation" id="navigationModel">
    <div class="container">
        <h1 class="logo" title="小牛在线-专业P2P网平台">
            <a href="https://www.xiaoniu88.com/">
                <img src="//image.xiaoniu88.com/static/WebXn/dist/images/logo/logo-9ccb586584.png" alt="小牛在线-专业P2P网平台" />
            </a>
        </h1>
        <nav class="info">
            <div class="nav nav-index" data-type="index">
                <a th:href="@{/main/first}">首页</a>
            </div>
            <ul class="nav nav-financial" data-type="financial">
                <li class="first">
                    <a href="/product/portal/index">网贷</a>
                </li>
                <li>
                    <a href="/product/portal/index">投标工具</a>
                </li>
                <li>
                    <a href="/product/list?type=common">散标</a>
                </li>
                <li>
                    <a href="/product/list?type=transfer">转让专区</a>
                </li>
            </ul>
        </nav>
        <div th:if="${session.user==null}" class="user">
            <span style="cursor: pointer;" onclick="gotoLogin('http://localhost:8080/user/tologin')" class="title">
                <div class="img-box"></div>
                <span>点我登陆</span>
            </span>
        </div>
        <div th:if="${session.user!=null}" class="user">
            <span style="cursor: pointer;" onclick="gotoLogin('http://localhost:8080/user/toAO')" class="title">
                <div class="img-box"></div>
                <span>我的账户</span>
                <i class="icon-common icon-common-to-bottom"></i>
            </span>
            <ul>
                <li><a href="javascript:gotoLogin();">充值</a></li>
                <li><a href="javascript:gotoLogin();">提现</a></li>
                <li><a href="javascript:gotoLogin();">我的网贷</a></li>

                <li><a href="javascript:gotoLogin();">账户安全</a></li>
                <li><a href="javascript:gotoLogin();">我的消息</a></li>
                <li><a href="javascript:gotoLogin();">红包优惠券</a></li>
                <li><a href="javascript:gotoLogin();">邀请好友</a></li>
            </ul>
        </div>
    </div>
</div>

<input type="hidden" id="currentProductMenu" value="optimize">
<!--产品列表导航-->
<div class="product-menu-contanier" id="productMenu">
    <ul class="product-menu clearfix">
        <li>
            <a href="/product/portal/index" id="menu_optimize">投标工具 (<em id="optimizeCount">0</em>)</a>
        </li>
        <li>
            <a href="/product/list?type=common" id="menu_common">散标 (<em id="commonCount">0</em>)</a>
        </li>
        <li>
            <a href="/product/list?type=transfer" id="menu_transfer">转让专区 (<em id="transferCount">0</em>)</a>
        </li>
    </ul>
</div>

<!-- body内容 -->
<div class="container detail-container" id="contanier">
    <div class="shoulder" id="shoulderModel">
        <div class="neck">
            <h2 th:if="${bx.bId != null}" th:text="${bx.bidName}+'-'+${bx.transLine}+'月可转'" class="title"></h2>
            <span th:if="${bx.bId != null and bx.transfer == 1}" class="sub-title">到期自动转让</span>
            <a class="contract to-contract" href="javascript:;" data-url="/cms/contract/pcts/1/template/productId/93237853">《服务合同》</a>
            <a class="contract dialog-risk-info" href="javascript:;">《风险提示函》</a>
        </div>
        <div class="subject g-cf">
            <div class="sub-left">
                <div class="sub-left-top">
                    <dl class="earnings">
                        <dt class="curRate">
                            <b class="f-rate color-orange" th:if="${bx.bId != null}" th:text="${bx.rate}"></b>
                            <b class="f-rate color-orange" th:if="${bx.bId != null && bx.bidType == 1}" th:text="'+'+${bx.rewardRate}"></b>
                            <span>%</span>
                        </dt>
                        <dd>
                            参考利率
                            <i class="icon icon-question-mark js_poshytip" title="小牛在线P2P互联网金融平台所有项目参考利率是在
                            参考同类型工具历史数据得出，<br>并不代表实际收益，市场有风险，出借需谨慎。"></i>
                        </dd>
                    </dl>
                    <dl class="borrow-amount">
                        <dt>
                            <span class="f-rate js_term" th:if="${bx.bId != null}" th:text="${bx.clockLine}"></span>个月
                        </dt>
                        <dd>锁定期 | 持满自动转让</dd>
                    </dl>
                    <dl class="lock-day">
                        <dt th:if="${bx.bId != null}" >
                            <span class="f-rate" id="ketous" th:text="${ketou}"></span> 万
                        </dt>
                        <dd>可加入最低额度<span id="kai" th:text="${kai}"></span>元</dd>
                    </dl>
                </div>
                <ul class="sub-left-mid"></ul>
                <ul class="subject-term g-cf" id="productTerm">
                    <li th:if="${bx.bId != null}" th:switch="${bx.bidStatus}" class="active disabled" style="height: 64px">
                        <p class="p1" th:case="1" th:text="|预售|"></p>
                        <p class="p1" th:case="0" th:text="|正在销售|"></p>
                        <p class="p1" th:case="3" th:text="|售罄|"></p>
                        <p class="p1" th:case="2" th:text="|关闭交易|"></p>
                    </li>
                </ul>
            </div>

            <div class="sub-right" style="width: 408px;">
                <div class="sellout abs" th:if="${session.user==null}" style="background: rgb(254,250,250);">
                    <div class="info">请先登陆您的账号</div>
                </div>
                <div class="sellout abs" th:if="${session.user!=null and ketou != 0}" style="background: rgb(254,250,250)">
                    <div class="info">将从余额扣除</div>
                    <button class="goumai" onclick="zhifuKuan()">立即购买</button>
                    <div class="collapse" id="coll2">
                        <div class="well" style="background-color: #f2dede;color: #a94442;border-color:#ebccd1;text-align: center">
                            <div th:if="ylist!=null" style="width: 135px;position: absolute;left: -110px;">
                                <div th:each="e:${ylist}" class="yHlist" th:onclick="'javascript:yuHuixuan(this,'+${e.boId}+')'">
                                    <p class="yHtext" style="text-align: left;padding-left: 3px;">
                                        <span th:text="${e.boMoney}"></span>元 优惠券
                                    </p>
                                    <p class="yHtis" style="text-align: right;color: #aaa;font-size: 10px">点击使用</p>
                                </div>
                            </div>
                            <form th:action="@{/main/getbid}" method="post">
                                <input th:value="${session.user.getuId()}" type="hidden" name="uId">
                                <input th:if="${bx.bId != null}" th:value="${bx.bidType}" type="hidden" name="bType">
                                <input th:if="${bx.bId != null}" th:value="${bx.bId}" type="hidden" name="bId">
                                <input id="yhHid" value="0" type="hidden" name="uhId">
                                <input id="yhHmon" value="0" type="hidden" name="yhHmon">

                                <input type="hidden" name="daoqi" id="daoqi">

                                <div class="input-group">
                                    <span class="input-group-addon">投资金额</span>
                                    <input type="text" name="tenMoney" oninput="padMoney(this)" onblur="padXiao(this)" class="form-control">
                                    <span class="input-group-addon" style="width: 27px">万</span>
                                </div>
                                <div class="input-group" style="margin: 10px 0">
                                    <span class="input-group-addon">交易密码</span>
                                    <input type="password" name="pwd" class="form-control">
                                    <span class="input-group-addon">必填</span>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger" onclick="zhifuKuan()">取消</button>
                                    <button class="btn btn-primary">确认</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sellout abs" th:if="${session.user!=null and ketou == 0}">
                    <div class="info">此标已达限额 最后一次投资时间</div>
                    <div class="describe" th:text="${#dates.format(to.tenTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
                </div>
            </div>
        </div>
        <div class="plan-content">
            <ul class="plan g-cf">
                <li class="plan-item plan-item1 active">
                    <p class="p1">加入</p>
                    <p class="p2" id="jiaru"></p>
                    <p class="p3">匹配项目</p>
                </li>
                <li class="plan-item plan-item2">
                    <p class="p1">开始收益</p>
                    <p class="p2" id="kaishi"></p>
                    <p class="p3">
                        <span class="js_term"  id="suoding" th:if="${bx.bId != null}" th:text="${bx.clockLine}"></span>
                        个月锁定期
                    </p>
                </li>
                <li class="plan-item plan-item3">
                    <p class="p1">锁定期结束</p>
                    <p class="p2" id="end"></p>
                    <p class="p3">锁定期结束自动转让</p>
                </li>
                <li class="plan-item plan-item4">
                    <i></i><i></i><i></i>
                </li>
            </ul>
        </div>
        <div class="extend" id="extendModel">
            <ul class="tab" style="padding: 0px 50px">
                <li data-type="introduce" class="extend-trigger current" onclick="tabQieHuan(this)">
                    <i class="icon icon-project"></i>
                    <span>工具介绍</span>
                </li>
                <li data-type="projectList" class="extend-trigger" onclick="tabQieHuan(this)">
                    <i class="icon icon-issue"></i>
                    <span>投标项目列表</span></li>
                <li data-type="analyzeList" class="extend-trigger" onclick="tabQieHuan(this)">
                    <i class="icon icon-analyze"></i>
                    <span>投标项目分析</span></li>
                <li data-type="investList" class="extend-trigger" onclick="tabQieHuan(this)">
                    <i class="icon icon-invest"></i>
                    <span>投标记录</span>
                </li>
            </ul>
            <div class="item">
                <div class="item introduce tableList" id="introduceModel" style="display: block;">
                    <h3 class="title">优享牛工具介绍</h3>
                    <p class="extend-describe">优享牛是小牛在线平台推出的便捷高效的委托投标工具，出借人委托平台将资金投向平台项目，且回款本息由出借人委托系统复投，保障资金利用率。锁定期结束后自动发起债权转让，系统优先协助本产品出借人完成债转退出。</p>
                    <div class="extend-describe-pic g-cf">
                        <dl class="d1 g-fl">
                            <dt>自动投标，省心便捷</dt>
                            <dd>委托平台自动分散投标，风险更可控</dd>
                        </dl>
                        <dl class="d2 g-fl">
                            <dt>自动复投，收益可观</dt>
                            <dd>锁定期内回款自动复投，保障资金利用率</dd>
                        </dl>
                        <dl class="d3 g-fr">
                            <dt>到期自动转让</dt>
                            <dd>锁定期结束系统自动发起转让退出，回款省心</dd>
                        </dl>
                    </div>
                    <table>
                        <tr>
                            <td class="nape">投标项目总额</td>
                            <td th:text="${bx.sumLimit}+'万'"></td>
                        </tr>
                        <tr>
                            <td class="nape">加入规则</td>
                            <td th:text="${bx.startLimit}+'万起投，'+${bx.addLimit}+'元递增，单笔限额'+${bx.singelLimit}+'万，累计限额'+${bx.personLimit}+'万'"></td>
                        </tr>
                        <tr>
                            <td class="nape">开始收益</td>
                            <td>加入后系统实时匹配标的，匹配成功后次日开始计息</td>
                        </tr>
                        <tr>
                            <td class="nape">转让规则</td>
                            <td>锁定期结束后，系统经出借人授权下自动发起债权转让退出优享牛投标工具，具体退出时间以出借人持有债权全部退出完成时间为准。退出期间可继续享有收益，平台不保证退出时效。</td>
                        </tr>
                        <tr>
                            <td class="nape">费用说明</td>
                            <td>加入费用：0元；</td>
                        </tr>
                    </table>
                    <h3 class="title" style="margin-bottom:0">常见问题</h3>
                    <dl class="extend-question">
                        <dt><span>问：</span>优享牛有哪些期限及对应的参考利率？</dt>
                        <dd><span>答：</span><p>新手标：7天，5%+5%；1个月，6%+6%；3个月，7%+5.5%；
                            <br>普通标：7天，5%；3个月，7.0%；6个月，7.70%；12个月，9%；24个月，10.00%</p>
                        </dd>
                    </dl>
                    <dl class="extend-question">
                        <dt><span>问：</span>加入优享牛后平台如何匹配项目？</dt>
                        <dd><span>答：</span><p>系统会实时匹配项目，成功匹配后次日起息，锁定期间回款将自动复投，保证收益不断档。</p></dd>
                    </dl>
                    <dl class="extend-question">
                        <dt><span>问：</span>加入优享牛后，可以看到具体投向的借款项目么？</dt>
                        <dd><span>答：</span><p>可以，平台将委托资金分散投标向平台的借款项目。在“我的-网贷-优享牛”中，点击相应优享牛项目，进入二级详情页可以看到优享牛的投标项目列表。</p></dd></dl>
                    <dl class="extend-question">
                        <dt><span>问：</span>优享牛产品如何退出？</dt>
                        <dd><span>答：</span><p>锁定期结束后，系统经出借人授权下自动发起债权转让退出优享牛投标工具，转让不收取费用。锁定期内不可转让退出。</p></dd></dl>
                    <dl class="extend-question">
                        <dt><span>问：</span>优享牛发起债权转让退出，多长时间成功？</dt>
                        <dd><span>答：</span><p>用户持有优享牛锁定期结束后，系统会及时并尽力寻找合适的债权受让人，但不排除存在交易撮合延迟或失败的情况，具体转让时间以出借人持有债权全部完成转让时间为准。转让期间可继续享有收益，平台不保证转让时效。</p></dd></dl></div>

                <div class="item introduce tableList" id="projectListModel" style="display: none;">
                    <div class="content">
                        <div class="g-tc" style="padding-top: 100px;">
                            <img src="//image.xiaoniu88.com/static/WebXn/dist/images/loading-44bbc291bc.gif" alt="加载中..." />
                        </div>
                    </div>
                </div>

                <div class="item introduce tableList" id="analyzeListModel" style="display: none;">
                    <h1 style="text-align: center;font-size: 22px">当前数据过少 请稍等哦</h1>
                </div>

                <div class="item introduce tableList" id="investListModel" style="display: none;">
                    <div class="content">
                        <div class="g-tc" style="padding-top: 100px;">
                            <img src="//image.xiaoniu88.com/static/WebXn/dist/images/loading-44bbc291bc.gif" alt="加载中..." />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--start 尾部-->
<div class="foot-bt">
    <p>Copyright &copy; 2015 深圳市小牛在线互联网信息咨询有限公司  版权所有    备案号：<a  target="_blank" rel="nofollow"
    href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action">粤ICP备14079927号</a>&nbsp;&nbsp;
        <a  target="_blank" rel="nofollow" href="//image.xiaoniu88.com/static/WebXn/dist/images/footer/icp-ee0231e7d0.jpg">ICP证粤B2-20160194</a></p>
    <p>地址：广东省深圳市南山区高新园高新南一道富诚科技大厦四楼   座机：0755－86160888</p>
    <p>市场有风险 出借需谨慎 最终收益以实际为准</p>
    <span>
        <a class="lk01" href="http://www.rating.org.cn/Home/Index/itrust_certifi/wm/1061427753.html" rel="nofollow" target="_blank" title="企业信用评级"></a>
        <a class="lk08" href="http://www.rating.org.cn/Home/Index/satification_certificate/wm/MY2017120701.html" rel="nofollow" target="_blank"
           title="客户满意度评级"></a>
        <a class="lk02" href="http://www.rating.org.cn/Home/Index/rz_certifi/wm/RZ2019061401.html" rel="nofollow" title="官方网站认证" target="_blank"></a>
        <a class="lk04" href="http://szcert.ebs.org.cn/17b502b9-988c-43b1-b21e-d1008a6af37a" target="_blank" rel="nofollow" title="深圳工商主体认证信息"></a>
        <!-- <a class="lk07" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.xiaoniu88.com&lang=zh_cn"></a> -->
    </span>
</div>

<!--end 尾部-->
<!--引入统计代码-->
<div style="display:none">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-104712537-1', 'auto');
        ga('send', 'pageview');

    </script>
</div>

<script src="//image.xiaoniu88.com/static/WebXn/dist/plugIn/magicMap/js/jquery-06297365a8.vector-chinamap.js"></script>
<script src="//image.xiaoniu88.com/static/WebXn/dist/plugIn/Highcharts/js/highcharts-477944bae5.js"></script>
<script src="//image.xiaoniu88.com/static/WebXn/dist/page/product/detail/ushare/js/detail-8c8420d88e.js"></script>

<script>
    function  gotoLogin(url) {
        window.location.href=url;
    }
    var tis = 0;
    var tis2 = 255;
    var weizi = 1;
    var jishuTishi;

    function tishiFun() {
        if (tis <= 255) {
            tis += 1;
            huxiColor(tis, weizi);

            if (tis == 255) tis2 = 255;
        } else {
            tis2 -= 1;
            huxiColor(tis2, weizi);

            if (tis2 == 0) {
                tis = 0; /*执行到此处证明已经循环完一次*/
                if (weizi == 1) weizi = 2;
                else if (weizi == 2) weizi = 3;
                else if (weizi == 3) weizi = 1;
            }
        }
    }

    var uhid = 0;
    function yuHuixuan(id,uid) {
        if(uid !== uhid){
            $(id).siblings().css("border","1px dashed red");
            $(id).siblings().find(".yHtis").text("点击使用");
            $(id).siblings().find(".yHtis").css("color","#aaa");
            $(id).css("border","1px solid red");
            $(id).find(".yHtis").text("已选中");
            $(id).find(".yHtis").css("color","black");
            uhid = uid;
            $("#yhHid").val(uhid);
            $("#yhHmon").val($(id).find(".yHtext").find("span").text());
        }else if(uid === uhid){
            $(id).css("border","1px dashed red");
            $(id).find(".yHtis").text("点击使用");
            $(id).find(".yHtis").css("color","#aaa");
            uhid = 0;
            $("#yhHmon").val(0);
            $("#yhHid").val(uhid);
        }
    }

    function huxiColor(size, xy) { /*呼吸变色*/
        if (xy == 1) {
            $(".yHlist .yHtext").css("color", "rgb(0," + size + ","+size+")");
        } else if (xy == 2) {
            $(".yHlist .yHtext").css("color", "rgb(" + size + "," + size + ",0)");
        } else if (xy == 3) {
            $(".yHlist .yHtext").css("color", "rgb(0," + size + ",0)");
        }
    }

    function padMoney(id) {
        var time = $(id).val();
        if(time.charCodeAt(0) == 46){
            $(id).val("");
        }else{
            var arr = time.split(".");
            if(arr.length === 1){
                for (var i = 0; i < time.length; i++) {
                    var t = time.charCodeAt(i);
                    if (!(t >= 48 && t <= 57)){
                        if(t !== 46){
                            console.log("t1"+t);
                            $(id).val(time.substr(0,time.length-1));
                        }else{
                            $(id).val(arr[0]);
                        }
                    }
                }
            }else{
                var xiaosu = arr[1];
                for (var i = 0; i < xiaosu.length; i++) {
                    var t = xiaosu.charCodeAt(i);
                    if (t >= 48 && t <= 57){
                        if(i < 2)$(id).val(arr[0]+"."+xiaosu);
                        else $(id).val(time.substr(0,time.length-1));
                    }else{
                        $(id).val(time.substr(0,time.length-1));
                    }
                }

            }
        }
    };

    function padXiao(id) {
        var suru = $(id).val();
        var min = $("#kai").text();
        var max = $("#ketous").text();
        if(suru != ''){
            suru = parseFloat(suru);
            min = parseFloat(min) * 0.01;

            if(suru < min) $(id).val(min);
            else $(id).val(suru);

            if(suru > max) $(id).val(max);
            else $(id).val(suru);
        }
    }
    var kunoff = 0;
    function zhifuKuan(){
        if(kunoff === 0){
            jishuTishi = setInterval("tishiFun()", "8");
            $("#coll2").css("display","block");
            kunoff = 1;
        }else {
            clearInterval(jishuTishi);
            $("#coll2").css("display","none");
            kunoff = 0;
        }
    }

    function jishuanDate() {
        //var kai = $("#kaishi").text();//年 -月 -日
        var date = new Date();
        var yue = date.getMonth() + 1;
        var xians = date.getFullYear()+"-"+yue+"-"+date.getDate();
        $("#jiaru").text(xians);

        var sou = parseInt($("#suoding").text());
        var dates = (new Date(xians + " 00:00:00")).getTime();
        var kaishi = dates + 24*60*60*1000;
        $("#kaishi").text(dateZhuan(kaishi));

        var cha = dates + sou * 30 *24 *60 *60 *1000;
        var endDate = dateZhuan(cha);
        $("#end").text(endDate);
        $("#daoqi").val(endDate+"");
    }
    jishuanDate();
    function dateZhuan(cha) {
        var newDate = new Date(cha);
        var nian = newDate.getFullYear();
        var yue = newDate.getMonth()+1;
        var day = newDate.getDate();
        var endDate = nian+"-";
        yue < 10 ? endDate+="0"+yue : endDate+=yue;
        day < 10 ? endDate+="-0"+day : endDate+="-"+day;
        return endDate;
    }

    function tabQieHuan(id) {
        var class1 = $(id).siblings(".current").attr("data-type")+"Model";
        $(id).siblings(".current").removeClass("current");
        $("#"+class1).css("display","none");

        $(id).addClass("current");
        var class2 = $(id).attr("data-type")+"Model";
        $("#"+class2).css("display","block");

        if(class2 === "projectListModel"){
            setList("#"+class2+" .content");
        }else if(class2 === "investListModel"){
            commList("#"+class2+" .content");
        }
    }
    var dian = 0;
    function setList(id) {
        //<a class="extend-trigger color-blue" data-type="analyzeList" href="javascript:void(0)" style="margin-left:15px">查看资产组合分析</a></div>
        if(dian === 0){
            $.post("/main/blist",{},function (data) {
                var html = "<div class='g-tl sequence'> 投标项目总金额<span>"+data.moneyMax+"</span>万，共计<span>"+data.size+"</span>个项目</div>";
                html += "<table><tr><th>序号</th><th>项目名称</th><th>期限</th><th>项目金额</th><th>预期参考利率</th><th>状态</th></tr>";
                var lists = data.list;
                for(var i = 0;i<lists.length;i++){  //循环LIST
                    var veh = lists[i];//获取LIST里面的对象
                    var ids = veh.bId;
                    var name = "<a href='/main/prose?t="+veh.bidType+"&id="+ids+"'>"+veh.bidName+"</a>";
                    var qixian = veh.clockLine;
                    var money = veh.sumLimit;
                    var lv = veh.rate+"%";
                    var zt = zhuangTai(veh.bidStatus);
                    html += "<tr><td class='g-tc'>"+ids+"</td><td class='g-tc'>"+name+"</td><td class='g-tc'>"+qixian+"天</td>" +
                        "<td class='g-tc'>"+money+"万</td><td class='g-tc'>"+lv+"</td><td class='g-tc'>"+zt+"</td></tr>";
                }
                html += "</table>";

                $(id+" .g-tc").remove();
                $(id).append(html);
            },"json");
            dian = 1;
        }

    }

    var dian2 = 0;
    function commList(id){
        if(dian2 === 0){
            $.post("/main/clist",{},function (data) {
                if(data.pad !== 0){
                    var html = "";
                    if(data.size !== 0){
                        var lists = data.list;
                        html = "<ul style='overflow: hidden;padding:15px;'><li class='titles'><p>标名称</p><p style='width: 34%;'>" +
                            "投资时间</p><p>锁定周期</p><p>投资金额</p></li>";

                        for(var i = 0;i<lists.length;i++){  //循环LIST
                            var veh = lists[i];
                            var time = veh.clockLine * 30;
                            var money = veh.tenMoney;

                            var dates = formatDateTime(veh.tenTime);
                            html += "<li class='lie'><p>"+veh.bidName+"</p><p style='width: 34%;'>"
                                +dates+"</p><p>"+time+"天</p><p>"+money+"万</p></li>";
                        }
                        html += "</ul>";
                    }else {
                        html = "<h1 style='text-align: center;font-size: 24px'>您尚未购买过标</h1>";
                    }

                    $(id+" .g-tc").remove();
                    $(id).append(html);
                }else {
                    var html2 = "<h1 style='text-align: center;font-size: 24px'>请先登陆您的账号</h1>";
                    $(id+" .g-tc").remove();
                    $(id).append(html2);
                }
            },"json");
            dian2 = 1;
        }
    }

    function formatDateTime(date) {
        var time = new Date(date);
        time.setTime(time.setHours(time.getHours()));
        var Y = time.getFullYear() + '-';
        var  M = addZero(time.getMonth() + 1) + '-';
        var D =addZero(time.getDate() - 1) + ' ';
        var h = addZero(time.getHours()) + ':';
        var m = addZero(time.getMinutes()) + ':';
        var  s = addZero(time.getSeconds());
        return Y + M + D + h+ m+ s;
    }

    // 数字补0操作
    function  addZero(num) {
        return num < 10 ? '0' + num : num;
    }

    function zhuangTai(xh) {
        if(xh === 1)return "预售";
        else if(xh === 0) return "在售";
        else if(xh ===2) return "关闭交易";
        else if(xh === 3) return "售罄";
        else return "---";
    }
</script>
</body>
</html>