<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>新增标类</title>
<link rel="icon" href="favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
  <!--引入相应的bootstrap.JS支持文件-->
  <div th:replace="/backstage/Brepetition::backstageJS"></div>
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
  <div class="layout-container">
    <!--引入头html代码-->
    <div th:replace="/backstage/Brepetition::head"></div>
    
    <!--页面主要内容-->
    <main class="layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <form  method="post" class="row" th:action="@{/XMN/addBid}">
                  <!--标名-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">标名</label>
                      <div class="form-controls col-lg-8" style="margin-left: -400px;margin-top: 20px">
                        <input type="text" class="form-control" id="bidName" name="bidName" value="" placeholder="请输入投标名" />
                      </div>
                    </div>
                  </div>
                  <!--标类-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">标种</label>
                      <div class="form-controls col-lg-8" style="margin-left: -400px;margin-top: 20px">
                        <select name="bidType" class="form-control" id="bidType" onchange="pptf()">
                          <option value="1">新手标</option>
                          <option value="2">优享标</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--标期 （活期 和 定期）-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">标期</label>
                      <div class="form-controls col-lg-8" style="margin-left: -400px;margin-top: 20px">
                        <select name="deposit" class="form-control" id="deposit" onchange="biaoqi()">
                          <option value="1">定期</option>
                          <option value="2">活期</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--定期锁期时间-->
                  <div class="form-group col-md-12" id="BBBB">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">定期锁期时间</label>
                      <div class="form-controls col-lg-8" style="margin-left: -400px;margin-top: 20px">
                        <select name="clockLine" class="form-control" id="clockLine">
                          <option value="3">3个月</option>
                          <option value="6">6个月</option>
                          <option value="12">12个月</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!--基础利率-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">基础利率</label>
                      <div class="col-lg-8" style="margin-left: -400px;margin-top: 15px">
                        <input id="range_01" name="rate">
                        <small class="form-text text-muted">酌情增加</small>
                      </div>
                    </div>
                  </div>
                  <!--新手利率-->
                  <div class="form-group col-md-12" id="aaa">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">新手利率</label>
                      <div class="col-lg-8" style="margin-left: -400px;margin-top: 15px">
                        <input id="range_05" name="rewardRate">
                        <small class="form-text text-muted">酌情增加</small>
                      </div>
                    </div>
                  </div>
                  <!--标种总体累计限额-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">总体金额</label>
                      <div class="col-lg-8" style="margin-left: -400px;margin-top: 15px">
                        <input id="range_02" name="sumLimit">
                      </div>
                    </div>
                  </div>
                  <!--个人累计限额-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">个人总金额</label>
                      <div class="col-lg-8" style="margin-left: -400px;margin-top: 15px">
                        <input id="range_06" name="personLimit">
                      </div>
                    </div>
                  </div>
                  <!--起投最小金额-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">起标额度</label>
                      <div class="col-lg-8" style="margin-left: -400px;margin-top: 15px">
                        <input id="range_07" name="startLimit">
                      </div>
                    </div>
                  </div>
                  <!--单笔限额-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">单笔限额-</label>
                      <div class="col-lg-8" style="margin-left: -400px;margin-top: 15px">
                        <input id="range_03" name="singelLimit">
                      </div>
                    </div>
                  </div>
                  <!--每次可以追加金额-->
                  <div class="form-group col-md-12">
                    <div class="form-group row">
                      <label class="col-form-label col-lg-3">每次可以追加金额</label>
                      <div class="col-lg-8" style="margin-left: -400px;margin-top: 15px">
                        <input id="range_04" name="addLimit">
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-xs-4">
                    <label for="type">是否可以自动转让</label>
                    <div class="input-daterange input-group col-lg-8">
                      <div class="example-box">
                        <label class="radio radio-inline radio-primary">
                          <input type="radio" name="transfer" value="1"><span>是</span>
                        </label>
                        <label class="radio radio-inline radio-primary">
                          <input type="radio" name="transfer" value="2"><span>否</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <!--是否可以自动复投-->
                  <div class="form-group col-xs-4">
                    <label for="type">是否可以自动复投</label>
                    <div class="input-daterange input-group col-lg-8">
                      <div class="example-box">
                        <label class="radio radio-inline radio-primary">
                          <input type="radio" name="aotuInverst" value="1"><span>是</span>
                        </label>
                        <label class="radio radio-inline radio-primary">
                          <input type="radio" name="aotuInverst" value="2"><span>否</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="card">
                      <label for="type">标期时间</label>
                      <div class="input-daterange input-group col-lg-8">
                        <input class="form-control js-datetimepicker" type="text" id="begTime" name="begTime" placeholder="开始投标时间" value="" data-side-by-side="true" data-locale="zh-cn" data-format="YYYY-MM-DD HH:mm" autocomplete="off"/>
                        <input class="form-control js-datetimepicker" type="text" id="gebTime" name="gebTime" placeholder="封标期时间" value="" data-side-by-side="true" data-locale="zh-cn" data-format="YYYY-MM-DD HH:mm" autocomplete="off"/>
                      </div>
                    </div>
                  </div>


                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-primary ajax-post" target-form="add-form">提 交</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>
                </form>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

  <!--引入相应的javascript支持文件-->
<div th:replace="/backstage/Brepetition::javascript"></div>
  <script type="text/javascript">
    $(function () {
      $("#range_01").ionRangeSlider({
        grid: true,
        min: 0.0,
        max: 15.0,
        step: 0.1,
        from: 7.0,
        prefix: "%"
      });
      $("#range_02").ionRangeSlider({
        min: 0,
        max: 2000,
        grid: true,
        prefix: "万"

      });
      $("#range_03").ionRangeSlider({
        min: 0,
        max: 200,
        grid: true,
        from: 200,
        prefix: "万"
      });
      $("#range_04").ionRangeSlider({
        grid: true,
        from: 1,
        to: 5,
        prefix: "万",
        values: [0.01,0.02,0.03,0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1]
      });
      $("#range_05").ionRangeSlider({
        grid: true,
        min: 0.0,
        max: 10.0,
        step: 0.1,
        from: 5.0,
        prefix: "%"
      });
      $("#range_06").ionRangeSlider({
        min: 0,
        max: 200,
        grid: true,
        prefix: "万"
      });
      $("#range_07").ionRangeSlider({
        min: 0,
        max: 100,
        from: 5,
        grid: true,
        prefix: "万"
      });
      //默认选中
      $("input[name='transfer']:radio:last").attr('checked', 'checked');
      //默认选中
      $("input[name='aotuInverst']:radio:last").attr('checked', 'checked');
  })
    //标种切换js
    function pptf(){
      var selects = document.getElementById("bidType");
      var indexs = selects.selectedIndex;  //选中项的索引
      var sanbiao = selects.options[indexs].text
      if(sanbiao == '优享标'){
        $('#aaa').show();
        $(document).one('click',function(){
          $('#aaa').hide();
        })

      }else if(sanbiao == '新手标'){
        $('#aaa').css("display","block");
      }
    }
    //标期时间
    function biaoqi(){
      var selects = document.getElementById("deposit");
      var indexs = selects.selectedIndex;  //选中项的索引
      var sanbiao = selects.options[indexs].text
      if(sanbiao == '活期'){
        $('#BBBB').show();
        $(document).one('click',function(){
          $('#BBBB').hide();
        })

      }else if(sanbiao == '定期'){
        $('#BBBB').css("display","block");
      }
    }
  </script>
</body>
</html>