<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>投标表</title>
<link rel="icon" href="favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
  <!--引入相应的bootstrap.JS支持文件-->
  <div th:replace="/backstage/Brepetition::backstageJS"></div>
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
  <div class="layout-container">
    <!--引入头html代码-->
    <div th:replace="/backstage/Brepetition::head"></div>
    
    <!--页面主要内容-->
    <main class="layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="#!" role="form">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <input type="hidden" name="search_field" id="search-field" value="title">
                      <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                      标种 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">新手标</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">散标</a> </li>
                      </ul>
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" th:href="@{/XMN/Badd_Bid}"><i class="mdi mdi-plus"></i> 新增</a>
                  <a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                  <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                  <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                </div>
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <label class="checkbox checkbox-primary">
                            <input type="checkbox" id="check-all"><span></span>
                          </label>
                        </th>
                        <th>编号</th>
                        <th>标名</th>
                        <th>标种</th>
                        <th>标期</th>
                        <th>奖励+基本利率</th>
                        <th>起标额</th>
                        <th>总体金额</th>
                        <th>上线时间</th>
                        <th>标封期时间</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="p:${list}">
                        <td>
                          <label class="checkbox checkbox-primary">
                            <input type="checkbox" name="ids[]" value="1"><span></span>
                          </label>
                        </td>
                        <td th:text="${p.bId}">1</td>
                        <td th:text="${p.bidName}">优享标</td>
                        <td th:if="${p.bidType eq 1}">新手标</td>
                        <td th:if="${p.bidType eq 2}">优享标</td>
                        <td th:if="${p.deposit eq 1}">定期</td>
                        <td th:if="${p.deposit eq 2}">活期</td>
                        <td th:if="${p.bidType eq 2}">
                          <p>
                            <a th:text="${p.rate}"></a>%
                          </p>
                        </td>
                        <td th:if="${p.bidType eq 1}">
                          <p>
                            <a th:text="${p.rewardRate}" style="color: red"></a>% +<a th:text="${p.rate}"></a>%
                          </p>
                        </td>
                        <td><a th:text="${p.startLimit}"></a>万</td>
                        <td><a th:text="${p.sumLimit}"></a>万</td>
                        <td th:text="${#dates.format(p.bidTime,'yyyy-MM-dd HH:mm')}">0</td>
                        <td th:text="${#dates.format(p.exprie,'yyyy-MM-dd HH:mm')}">0</td>
                        <td th:if="${p.bidStatus eq 1}">
                          <font class="text-success">预售</font>
                        </td>
                        <td th:if="${p.bidStatus eq 0}">
                          <font class="text-warning">在售</font>
                        </td>
                        <td th:if="${p.bidStatus eq 3}">
                          <font class="text-danger">售罄</font>
                        </td>
                        <td th:if="${p.bidStatus eq 2}">
                          <font class="text-dark">关闭</font>
                        </td>

                        <td>
                          <div class="btn-group">
                            <a class="btn btn-xs btn-default" th:href="@{/XMN/updataBid/(bId=${p.bId})}" title="修改" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                            <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <ul class="pagination">
                  <li class="disabled"><span>«</span></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#1">2</a></li>
                  <li><a href="#1">3</a></li>
                  <li><a href="#1">4</a></li>
                  <li><a href="#1">5</a></li>
                  <li><a href="#1">6</a></li>
                  <li><a href="#1">7</a></li>
                  <li><a href="#1">8</a></li>
                  <li class="disabled"><span>...</span></li>
                  <li><a href="#!">14452</a></li>
                  <li><a href="#!">14453</a></li>
                  <li><a href="#!">»</a></li>
                </ul>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<!--引入相应的javascript支持文件-->
<div th:replace="/backstage/Brepetition::javascript"></div>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});
</script>
</body>
</html>