<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>小母牛理财后台管理</title>
<link rel="icon" href="favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
  <!--引入相应的bootstrap.JS支持文件-->
  <div th:replace="/backstage/Brepetition::backstageJS"></div>
</head>
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
  <div class="layout-container">
    <!--引入头html代码-->
    <div th:replace="/backstage/Brepetition::head"></div>

    <!--页面主要内容-->
    <main class="layout-content">

      <div class="container-fluid">

        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-primary">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">今日收入</p>
                  <p class="h3 text-white m-b-0"><a id="daymoney" style="color: white"></a>万</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-currency-cny fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-danger">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">用户总数</p>
                  <p class="h3 text-white m-b-0"><a id="renshu" style="color: white"></a>人</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-success">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">理财金额</p>
                  <p class="h3 text-white m-b-0"><a id="licaimoney" style="color: white"></a>万</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-arrow-down-bold fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3">
            <div class="card bg-purple">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">贷款金额</p>
                  <p class="h3 text-white m-b-0"><a id="daikuanmoeny" style="color: white"></a>万</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-comment-outline fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <!--每周用户的chartjs图-->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>每周用户</h4>
              </div>
              <div class="card-body">
                <canvas class="js-chartjs-bars"></canvas>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h4>交易历史记录</h4>
              </div>
              <div class="card-body">
                <canvas class="js-chartjs-lines"></canvas>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4>项目信息</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>项目名称</th>
                        <th>开始日期</th>
                        <th>截止日期</th>
                        <th>状态</th>
                        <th>进度</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="p:${list}">
                        <td th:text="${p.bId}">1</td>
                        <td th:text="${p.bidName}">设计新主题</td>
                        <td th:text="${#dates.format(p.bidTime,'yyyy-MM-dd HH:mm')}">0</td>
                        <td th:text="${#dates.format(p.exprie,'yyyy-MM-dd HH:mm')}">0</td>
                        <td th:if="${p.bidStatus eq 1}">
                          <span class="label label-primary">预售</span>
                        </td>
                        <td th:if="${p.bidStatus eq 0}">
                          <span class="label label-success">在售</span>
                        </td>
                        <td th:if="${p.bidStatus eq 3}">
                          <span class="label label-danger">售罄</span>
                        </td>
                        <td th:if="${p.bidStatus eq 2}">
                          <span class="label label-warning">关闭</span>
                        </td>
                        <td th:if="${p.bidStatus eq 1}">
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                          </div>
                        </td>
                        <td th:if="${p.bidStatus eq 0}">
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-primary" style="width: 20%;"></div>
                          </div>
                        </td>
                        <td th:if="${p.bidStatus eq 3}">
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-danger" style="width: 100%;"></div>
                          </div>
                        </td>
                        <td th:if="${p.bidStatus eq 2}">
                          <div class="progress progress-striped progress-sm">
                            <div class="progress-bar progress-bar-warning" style="width: 100%;"></div>
                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<!--引入相应的javascript支持文件-->
<div th:replace="/backstage/Brepetition::javascript"></div>

<!--图表插件-->
<script type="text/javascript" th:src="@{/js/Chart.js}"></script>
<script type="text/javascript">
$(document).ready(function(e) {
    var $dashChartBarsCnt  = jQuery( '.js-chartjs-bars' )[0].getContext( '2d' ),
        $dashChartLinesCnt = jQuery( '.js-chartjs-lines' )[0].getContext( '2d' );
  var testWeek = new Array();
  var weeks = new Array();
  var newDate = formatDateTime(new Date().getTime());
  console.log(newDate);

  function formatDateTime(date) {
    var time = new Date(date);
    //time.setTime(time.setHours(time.getHours()));
    var Y = time.getFullYear() + '-';
    var  M = addZero(time.getMonth() + 1) + '-';
    var D =addZero(time.getDate());
    return Y + M + D;
    // }
  }

  // 数字补0操作
  function  addZero(num) {
    return num < 10 ? '0' + num : num;
  }
  function getWeekDay(dateString) {
    let dateStringReg = /^\d{4}[/-]\d{1,2}[/-]\d{1,2}$/;

    if (dateString.match(dateStringReg)) {
      let presentDate = new Date(dateString),
              today = presentDate.getDay() !== 0 ? presentDate.getDay() : 7;

      return Array.from(new Array(7), function(val, index) {
        return formatDate(new Date(presentDate.getTime() - (today - index-1) * 24 * 60 * 60 * 1000));
      });

    } else {
      throw new Error('dateString should be like "yyyy-mm-dd" or "yyyy/mm/dd"');
    }

    function formatDate(date) {
      return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
    }
  }
  testWeek = getWeekDay(""+newDate);
  console.log("test : "+testWeek);
  function getBeforeDate(n){
    var n = n;
    var d = new Date();
    var year = d.getFullYear();
    var mon=d.getMonth()+1;
    var day=d.getDate();
    if(day <= n){
      if(mon>1) {
        mon=mon-1;
      }
      else {
        year = year-1;
        mon = 12;
      }
    }
    d.setDate(d.getDate()-n);
    year = d.getFullYear();
    mon=d.getMonth()+1;
    day=d.getDate();
    s = year+"-"+(mon<10?('0'+mon):mon)+"-"+(day<10?('0'+day):day);
    return s;
  };
  var jsWeek = new Array();
  var number = 0;
  for(var i=7;i>=1;i--){
    jsWeek[number] = getBeforeDate(i);
    number++;
  }
  console.log(getBeforeDate(1));//昨天的日期
  console.log(getBeforeDate(7));//前七天的日期
  $.ajax({
    type:'post',
    datatype:"json",
    async : false,
    cache : false,
    traditional: true,
    url:"/XMN/getRegNumber",
    data:{
      "weekarry":jsWeek
    },
    success:function (data) {
      weeks = data
    }
  });
    $.ajax({
      type:"get",//请求类型
      datatype:"json",//数据类型
      url:"/XMN/dashChartBarsCnt",
      success:function (data) {//请求成功后执行该函数
        console.log(data.person.name)//tom
      }
    });
    var $dashChartBarsData = {
		labels: jsWeek,
		datasets: [
			{
				label: '注册用户',
                borderWidth: 1,
                borderColor: 'rgba(0,0,0,0)',
				backgroundColor: 'rgba(51,202,185,0.5)',
                hoverBackgroundColor: "rgba(51,202,185,0.7)",
                hoverBorderColor: "rgba(0,0,0,0)",
				data: weeks
			}
		]
	};
    var $dashChartLinesData = {
		labels: ['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
		datasets: [
			{
				label: '交易资金',
				data: [20, 25, 40, 30, 45, 40, 55, 40, 48, 40, 42, 50],
				borderColor: '#358ed7',
				backgroundColor: 'rgba(53, 142, 215, 0.175)',
                borderWidth: 1,
                fill: false,
                lineTension: 0.5
			}
		]
	};

    new Chart($dashChartBarsCnt, {
        type: 'bar',
        data: $dashChartBarsData
    });

    var myLineChart = new Chart($dashChartLinesCnt, {
        type: 'line',
        data: $dashChartLinesData,
    });
});
$.post("/XMN/summ",{},function (data) {
  $("#daymoney").text(data.daymoney);
  $("#renshu").text(data.renshu);
  $("#licaimoney").text(data.licaimoney);
  $("#daikuanmoeny").text(data.daikuanmoeny);
},"json");
</script>
</body>
</html>