<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>理财订单页面</title>
<link rel="icon" href="favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
  <!--引入相应的bootstrap.JS支持文件-->
  <div th:replace="/backstage/Brepetition::backstageJS"></div>
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
  <div class="layout-container">
    <!--引入头html代码-->
    <div th:replace="/backstage/Brepetition::head"></div>
    
    <!--页面主要内容-->
    <main class="layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="#!" role="form">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <input type="hidden" name="search_field" id="search-field" value="title">
                        <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                      标题 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>
                      </ul>
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered" id="tender">

                  </table>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<!--引入相应的javascript支持文件-->
<div th:replace="/backstage/Brepetition::javascript"></div>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
    $('#tender').bootstrapTable({
        method: 'get',
        url: '/back_tender/tender_data',//请求数据路径
        dataType: "json",
        pagination: true, // 是否分页
        sidePagination: 'server', // server:服务器端分页|client：前端分页
        clickToSelect: true, // 单击行即可以选中
        pageNumber: 1,//这默认页码
        sortOrder: 'desc', // 设置排序为反序 desc
        pageSize: 10, // 单页记录数
        pageList: [10, 20, 30],
        queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求

            return {
                pageSize: params.limit, // 每页要显示的数据条数
                currentPage: params.offset / params.limit + 1, // 每页显示数据的开始行号
                //sort: params.sort, // 要排序的字段
                //sortOrder: params.order, // 排序规则
                //dataId: $("#dataId").val() // 额外添加的参数
                //search: params.search, //搜索框内容
            }
        },
        columns: [{
            checkbox: true
        }, {
            title: 'tId',
            field: 'tId',
            visible: false
        }, {
            title: '投资人 ',
            field: 'uName'
        }, {
            title: '标名',
            field: 'bidName'
        }, {
            title: '标种',
            field: 'bidType',
            formatter: szbidtype
        }, {
            title: '投资金额',
            field: 'tenMoney',
            formatter: addw
        }, {
            title: '利率',
            field: 'lv',
            formatter: addbfh
        }, {
            title: '投资日期',
            field: 'tenTime',
            formatter: formatTime
        }, {
            title: '状态',
            field: 'tenType',
            formatter: szstatue
        }]
    });

    function addbfh(value, row, index) {
        return value+"<span style='color: blue'>%</span>";
    }function addw(value, row, index) {
        return value+"<span style='color: blue'>万</span>";
    }
    function formatTime(value, row, index) {
        console.log("haomiao"+value);

        var date = formatDateTime(value)+"";
        console.log("date"+date);

        /*var month = date.getMonth() + 1;
        var hours = date.getHours();
        if(hours < 10)
            hours = "0" + hours;
        var minutes = date.getMinutes();
        if(minutes < 10)
            minutes = "0" + minutes;
        var time = date.getFullYear() + "-" + month + "-" + date.getDate() +
            " " + hours + ":" + minutes;*/
        return date;
    }


    function formatDateTime(date) {
        var time = new Date(date);
        time.setTime(time.setHours(time.getHours() + 11));
        var Y = time.getFullYear() + '-';
        var  M = addZero(time.getMonth() + 1) + '-';
        var D =addZero(time.getDate() - 1) + ' ';
        var h = addZero(time.getHours()) + ':';
        var m = addZero(time.getMinutes()) + ':';
        var  s = addZero(time.getSeconds());
        return Y + M + D + h+ m+ s;
        // }
    }

    // 数字补0操作
    function  addZero(num) {
        return num < 10 ? '0' + num : num;
    }

    function szbidtype(value, row, index) {
        if(value==1){
            return "<span style='color: green'>新手标</span>";
        }else if(value==2){
            return "<span style='color: green'>散标</span>";
        }
    }
    function szstatue(value, row, index) {
        if(value==0){
            return "活期";
        }else if(value ==1){
            return "转让期";
        }else if(value ==2){
            return "定期";
        }else if(value==5){
            return "结束";
        }
    }
});
</script>
</body>
</html>