<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>修改密码 - bootstrap中文后台管理系统模板</title>
<link rel="icon" href="favicon.ico" type="image/ico">
<meta name="author" content="yinqi">
  <!--引入相应的bootstrap.JS支持文件-->
  <div th:replace="/backstage/Brepetition::backstageJS"></div>
  <div th:replace="/backstage/Brepetition::javascript"></div>
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
  <div class="layout-container">
    <!--引入头html代码-->
    <div th:replace="/backstage/Brepetition::head"></div>
    
    <!--页面主要内容-->
    <main class="layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <form method="post" action="@{/admin/repwd}" class="site-form">
                  <div class="form-group">
                    <label for="old-password">旧密码</label>
                    <input type="password" class="form-control" name="oldpwd" id="old-password" placeholder="输入账号的原登录密码">
                  </div>
                  <div class="form-group">
                    <label for="new-password">新密码</label>
                    <input type="password" class="form-control" name="newpwd" id="new-password" placeholder="输入新的密码">
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">确认新密码</label>
                    <input type="password" class="form-control" name="confirmpwd" id="confirm-password" placeholder="请输入正确的邮箱地址">
                  </div>
                  <button id="basic_button" class="btn btn-block btn-primary" type="button">修改密码</button>
                </form>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<!--引入相应的javascript支持文件-->
<script type="text/javascript">
    $('#basic_button').click(function () {
        var oldpwd=$('#old-password').val();
        var newpwd=$('#new-password').val();
        var confirmpwd=$('#confirm-password').val();
        var aid = '[[${session.admin.aid}]]';
        $.ajax({
            url: '/admin/checkold',
            data: {
                oldpwd: oldpwd,
                aid: aid
            },
            cache: false,//false是不缓存，true为缓存
            async: true,//true为异步，false为同步
            success: function (obj) {
                if(obj=='true') {

                }
            },
            complete: function () {
                //请求结束时
            },
            error: function () {
                $.confirm({
                    title: '错误提示',
                    content: '服务器请求失败',
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                        tryAgain: {
                            text: '重试',
                            btnClass: 'btn-green',
                        },
                        close: {
                            text: '关闭'
                        }
                    }
                });
            }
        })
    })
</script>
</body>
</html>