<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>积分订单审核</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <!--引入相应的bootstrap.JS支持文件-->
    <div th:replace="/backstage/Brepetition::backstageJS"></div>
</head>
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
    <div class="layout-container">
        <!--引入头html代码-->
        <div th:replace="/backstage/Brepetition::head"></div>
        <!--页面主要内容-->
        <main class="layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <form class="pull-right search-bar" method="post" action="/XMN/userintegral" role="form">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default dropdown-toggle">
                                                查询
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" value="" name="email" placeholder="请输入邮箱">
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr style="background-color: #00b8b9">
                                            <th>
                                                <label class="checkbox checkbox-primary">
                                                    <input type="checkbox" id="check-all"><span></span>
                                                </label>
                                            </th>
                                            <th>编号</th>
                                            <th>用户账号</th>
                                            <th>用户姓名</th>
                                            <th>商品名称</th>
                                            <th>变动积分</th>
                                            <th>变动类型</th>
                                            <th>总积分</th>
                                            <th>兑换时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="p,pStart:${list}">
                                            <td>
                                                <label class="checkbox checkbox-primary">
                                                    <input type="checkbox" name="ids[]" value="1"><span></span>
                                                </label>
                                            </td>
                                            <td th:text="${pStart.count}"></td>
                                            <td th:if="${p.email} eq null">无</td>
                                            <td th:if="${p.email} ne null"><p th:text="${p.email}"></p></td>
                                            <td th:if="${p.uName} eq null">无</td>
                                            <td th:if="${p.uName} ne null"><p th:text="${p.uName}"></p></td>
                                            <td th:if="${p.integralName} eq null">无</td>
                                            <td th:if="${p.integralName} ne null"><p th:text="${p.integralName}"></p></td>
                                            <td th:if="${p.change} eq null">无</td>
                                            <td th:if="${p.change} ne null"><p th:text="${p.change}"></p></td>
                                            <td th:if="${p.changeType} eq null">无</td>
                                            <td th:if="${p.changeType} ne null"><p th:text="${p.changeType}"></p></td>
                                            <td th:if="${p.total} eq null">无</td>
                                            <td th:if="${p.total} ne null"><p th:text="${p.total}"></p></td>
                                            <td th:if="${p.conversionTime} eq null">无</td>
                                            <td th:if="${p.conversionTime} ne null"><p th:text="${p.conversionTime}"></p></td>

                                            <td>
                                                <div class="btn-group">

                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<!--引入相应的javascript支持文件-->
<div th:replace="/backstage/Brepetition::javascript"></div>
</body>
</html>