<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <!-- 下面三个meta必须有且放在最前面 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <!-- bootstrap必须引入以下三个文件 -->
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.js}"></script>

</head>
<body>
    <!--导航栏-->
    <nav class="navbar navbar-default" style="margin-bottom: 0px">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">小牛</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">COW<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">金融理财</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入信息">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">用户名</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多选项 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">管理员登录</a></li>
                            <li><a href="#">管理员信息</a></li>
                            <li><a href="#">管理员切换</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">退出登陆</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--侧边-->
    <div class="Container" style="height:700px">
        <!-- 左侧导航栏 -->
        <div class=" col-lg-2" STYLE="background-color: #DFDFDF;height: 950px">
            <ul class="nav nav-stacked nav-pills">
                <li role="presentation">
                    <a  target="mainFrame" th:href="@{/XMN/text}">例子</a>
                </li>
                <li role="presentation">
                    <a  target="mainFrame" href="/empList" >理财订单</a>
                </li>
                <li role="presentation">
                    <a href="/carList" target="mainFrame">借贷订单</a>
                </li>
                <li role="presentation">
                    <a href="/WaybillList" target="mainFrame">金融管理</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" target="mainFrame">
                        财务管理<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/FinanceList" target="mainFrame">支出管理</a>
                        </li>
                        <li>
                            <a href="toStatement" target="mainFrame">财务报表</a>
                        </li>
                        <li>
                            <a href="#" target="mainFrame">查看个人信息</a>
                        </li>
                    </ul>
                </li>
                <li role="presentation">
                    <a href="#" target="mainFrame">权限设置</a>
                </li>

            </ul>
        </div>
        <!-- 正文内容部分 -->
        <div class="pageContent col-lg-10" STYLE="height: 950px ">
            <iframe src="" id="mainFrame" name="mainFrame"
                    frameborder="0" width="100%"  height="100%">
            </iframe>
        </div>
    </div>
</body>
</html>