<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>投标表</title>
    <link rel="icon" href="favicon.ico" type="image/ico">


    <meta name="author" content="yinqi">
    <!--引入相应的bootstrap.JS支持文件-->
    <div th:replace="/backstage/Brepetition::backstageJS"></div>
</head>

<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="layout-web">
    <div class="layout-container">
        <!--引入头html代码-->
        <div th:replace="/backstage/Brepetition::head"></div>

        <!--页面主要内容-->
        <main class="layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <form>
                                        <div id="toolbar">
                                            <div class="my-container">
                                                <label class="myLabel-content">状态：</label>
                                                <div class="myText-content">
                                                    <select class="form-control" id="status" name="status" size="1">
                                                        <option value="0">带打款</option>
                                                        <option value="1">已打款</option>
                                                        <option value="2">终止</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="myBtn-content">
                                                <button id="search" type="button" class="btn btn-primary">搜索</button>
                                                <button id="reset" type="button" class="btn btn-default">重置</button>
                                            </div>
                                        </div>
                                    </form>
                                    <table class="table table-bordered" id="payment">

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<!--引入相应的javascript支持文件-->
<div th:replace="/backstage/Brepetition::javascript"></div>
<script type="text/javascript">
    $(function(){
        $('.search-bar .dropdown-menu a').click(function() {
            var field = $(this).data('field') || '';
            $('#search-field').val(field);
            $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
        });
        $('#payment').bootstrapTable({
            method:'post',
            url:'/back_loan/payment_data',//请求数据路径
            dataType: "json",
            pagination: true, // 是否分页
            sidePagination: 'server', // server:服务器端分页|client：前端分页
            pageNumber: 1,//这默认页码
            clickToSelect: true, // 单击行即可以选中
            sortOrder: 'desc', // 设置排序为反序 desc
            pageSize: 10, // 单页记录数
            pageList: [10, 20, 30],
            queryParams: function(params) { // 上传服务器的参数
                var temp = {
                    name: $("#sname").val(),
                    viewReason: $("#viewReason").val(),
                };
                return temp;
            },
            onLoadSuccess:function () {
                setDisable(disabledIndex);
            },
            columns: [{
                checkbox: true
            },{
                title:'贷款编号',
                field:'lId'
            },{
                title:'待打款金额',
                field:'acMoney',
                formatter:addw
            },{
                title:'到账银行',
                field:'bankName'
            },{
                title:'银行账号',
                field:'cardId'
            },{
                title:'贷款申请时间',
                field:'applicationTime',
                formatter: formatTime
            },{
                title:'审核完成时间',
                field:'applicationEnd',
                formatter: formatTime
            },{
                title:'打款状态',
                field:'status',
                formatter: status
            },{
                title: '操作',
                field: 'Id',
                formatter: option
            }]
        });
        var disabledIndex = new Array();
        var indexNum = 0;


        function addw(value, row, index) {
            return value+"<span style='color: blue'>万</span>";
        }
        function option(value, row, index) {
            var htm="";
            htm +='<button class="btn btn-success m-r-5" id="'+index+'" uId="'+value+'" onclick="tooexamine('+value+')"><i class="mdi mdi-comment-text"></i> 打款</button>';
            return htm;
        }
        function status(value, row, index) {
            if(value==0){
                return '<span style="color: yellow">待打款</span>';
            }else if(value==1){
                disabledIndex[indexNum] = index;
                indexNum+=1;

                return '<span style="color: green">到账</span>';
            }else if(value==2){
                disabledIndex[indexNum] = index;
                indexNum+=1;

                return '<span style="color: red">终止</span>';
            }
        }
        function formatTime(value, row, index) {
            console.log("haomiao"+value);

            var date = formatDateTime(value)+"";
            console.log("date"+date);

            /*var month = date.getMonth() + 1;
            var hours = date.getHours();
            if(hours < 10)
                hours = "0" + hours;
            var minutes = date.getMinutes();
            if(minutes < 10)
                minutes = "0" + minutes;
            var time = date.getFullYear() + "-" + month + "-" + date.getDate() +
                " " + hours + ":" + minutes;*/
            return date;
        }


        function formatDateTime(date) {
            var time = new Date(date);
            //time.setTime(time.setHours(time.getHours()));
            var Y = time.getFullYear() + '-';
            var  M = addZero(time.getMonth() + 1) + '-';
            var D =addZero(time.getDate()) + ' ';
            var h = addZero(time.getHours()) + ':';
            var m = addZero(time.getMinutes()) + ':';
            var  s = addZero(time.getSeconds());
            return Y + M + D + h+ m+ s;
            // }
        }

        // 数字补0操作
        function  addZero(num) {
            return num < 10 ? '0' + num : num;
        }

        function setDisable(disabledIndex) {
            $.each(disabledIndex,function (i,e) {
                var iddd = document.getElementById(e);
                iddd.disabled = true;
            })
        }
    });
    function tooexamine(id) {
        $.confirm({
            title: '提示',
            content: '是否确认打款',
            type: 'red',
            typeAnimated: true,
            buttons: {
                omg: {
                    text: '确定',
                    btnClass: 'btn-green',
                    confirm:function () {
                        $.ajax({
                            url:'/back_loan/toactivePayment',
                            cache: false,//false是不缓存，true为缓存
                            async: true,//true为异步，false为同步
                            data:{
                                Id:id
                            },
                            success:function (obj) {
                                if(obj=="success"){
                                    window.location.href='/XMN/Payment_track'
                                }
                            },
                            error:function () {
                                $.confirm({
                                    title: '提示',
                                    content: '请求失败',
                                    type: 'red',
                                    keyboardEnabled:true,
                                    buttons: {
                                        omg: {
                                            text: '重试',
                                            btnClass: 'btn-green',
                                        },
                                        close: {
                                            text: '关闭',
                                        }
                                    }
                                })
                            }
                        })
                    }
                },
                close: {
                    text: '关闭'
                }
            }
        });
    }
</script>
</body>
</html>