<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商品兑换</title>
    <link rel="shortcut icon" th:href="@{/img/loan/小母牛.png}" type="image/x-icon" />
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/css/base-ddb0535420.css" />
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/page/activity/pointmall/list/css/style-048337cfe8.css" />
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/subject/pointMall/css/style-95d6dec6d2.css" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.js}"></script>
    <style>
        body a{
            color: black;
            text-decoration: none;
        }
        body a :hover{
            text-decoration: none;
        }
    </style>
</head>
<body>

    <div class="ac_top">
        <div class="g-o">
            <div class="ac_menu" id="ulLoginStatus">
                    <span class="user" style="margin: 0; color: #999;">
                       <a th:if="${session.user.account}==null" href="/user/tologin">登录</a>　
                        <a th:if="${session.user.account}!=null" th:text="${session.user.account}"></a>
                         <a class="ext" href="/user/loginout">[&nbsp;安全退出&nbsp;]</a>
                    </span>
                <span>│</span>
                <a th:href="@{/integral/myIntegral(uid = ${session.user.uId})}">我的积分：<span th:text="${session.total}" style="color: #ffb938">25000</span></a>
                <span>│</span>
                <a href="/user/toAO">首页</a>
                <span>│</span>
                <a href="#">帮助</a>
                <span>│</span>
                全国服务热线：4006-0755-70
            </div>
        </div>
    </div>
    <div class="menu-list head-menu">
        <div class="g-o" style="width:1170px;">
            <a class="logo" th:href="@{/main/first}">
                <img  th:src="@{/img/loan/小母牛.png}" alt="小牛在线-专业P2P网平台">
            </a>
            <input id="_point_current_menu" type="hidden" value="mall">
            <ul class="nav">
                <li>
                    <a th:href="@{/integral/main}"  id="_menu_mall" class="cur">积分兑换</a>
                </li>
                <!--  -->
                <li>
                    <a th:href="@{/integral/Rule}" id="_menu_rule">积分规则</a>
                </li>
                <li>
                    <a th:href="@{/integral/issue}" id="_menu_faq">积分问答</a>
                </li>
            </ul>
        </div>
    </div>
        <div class="breadcrumb">
            <div class="section">
                您现在的位置：
                <a th:href="@{/main/first}">首页</a>&gt;
                <a th:href="@{/integral/main}">积分商城</a>&gt;
                <a th:href="@{/integral/list(spId=0,currPage=1,sort=0)}">商城列表</a>&gt;商品兑换
            </div>
        </div>
    <div class="container">
        <br>
<!--        商品-->
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <br>
                <img th:src="'/img/integral/'+@{${list.integralImg}}" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8 col-lg-6">
                <h4 th:text="'积分：'+${list.integral}" style="color: #ffbe33"></h4>
                <h2 th:text="${list.integralName}" class="text-success"></h2>
                <h4>
                    <span style="line-height:2">使用规则</span>
                </h4>
                <span style="line-height:2"> 1.小母牛会员可使用<span th:text="${list.integral}" style="color: #00b8b9"></span>积分去兑换<span style="color: #00b8b9" th:text="${list.integralName}"></span>
                    <p>
                        2.以下地区不支持发货：新疆、西藏，请符合需求再操作兑换
                    </p>
                    <p>
                        3.快递发出后，若商品存在质量问题，可在七天内联系客服电话0571-87636退换，其他情况或超过七天不受理
                    </p>
                    <span style="line-height:2;font-family:'Microsoft YaHei';"> 3.每个账号每天兑换次数不受限制，积分足够即可</span>
                </span>
                <h4>
                    <span style="line-height:2">温馨提示</span>
                </h4>
                <span style="line-height:2">
                    <p>
                        1.权益数量有限，先到先得，兑完为止，虚拟权益一旦兑换不支持退换
                    </p>
                    <p>
                        2.若享受优惠的交易发生退款，优惠资格不在补偿，积分不予退还
                    </p>
                </span>
                <p>
            </div>
        </div>
        <br>
        <!--        填写地址-->
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-6" th:if="${list.integralType} ne '慧财'">
                <h4>
                    <span class="text-warning" style="line-height:2">确认地址</span>
                </h4>
                <span class="text-danger" th:if="${credit}==null">还未实名，不可兑换!</span>
                <span class="text-danger" th:if="${session.total} <${list.integral}">积分不足！无法兑换</span>
                <form th:if="${credit ne null && session.total ge list.integral}" th:action="@{/integral/conversion2(diz=1,hId=${list.id})}" method="post" enctype="multipart/form-data">
                    <span >
                        <label>姓名:</label>
                        <span style="color: #00b8b9" th:if="${credit}!=null" th:text="${credit.name}">林学明</span>
                    </span>
                    &nbsp;&nbsp;&nbsp;
                    <span >
                        <label >号码</label>&nbsp;
                         <input class="form-control" type="text" name="phe" th:if="${session.user.phe}==null">
                        <span style="color: #00b8b9" th:text="${session.user.phe}">1315194151</span>
                    </span>
                    <div class="form-group">
                        <label>地址:</label>
                        <input th:if="${session.place} ==null" class="form-control" type="text" name="place" th:value="${session.user.place}">
                        <input th:if="${session.place} !=null" class="form-control" type="text" name="place" th:value="${session.place}">
                    </div>
                    <div class="form-group">
                        <p class="text-warning">
                           注意：如若修改了地址请必须点确认！否则兑换将选择查出的地址 <span></span>
                        </p>
                        <button  type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-6" th:if="${list.integralType} eq '慧财'">
                <p class="text-warning">
                    注意：您用 <span th:text="${list.integral}"></span>积分兑换的<span th:text="${list.integralName}"></span>将会发放到你的卡卷里面，请注意查收！
                </p>
            </div>
        </div>
        <div class="row">
            <p>
                <a  th:href="@{/integral/conversion(iId =${list.id},change = ${list.integral},type =${list.integralType},IntName=${list.integralName})}" th:if="${credit ne null && session.total ge list.integral}" class="btn btn-primary btn-lg btn-block">立即兑换</a>
            </p>
        </div>
    </div>
</body>
</html>