<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的积分</title>
    <link rel="shortcut icon" th:href="@{/img/loan/小母牛.png}" type="image/x-icon" />
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/css/base-ddb0535420.css" />
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/page/activity/pointmall/list/css/style-048337cfe8.css" />
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/subject/pointMall/css/style-95d6dec6d2.css" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.js}"></script>
    <style>
        body a{
            color: white;
            text-decoration:none
        }
        body a:hover{
            color: white;
            text-decoration:none
        }
    </style>
</head>
<body>
    <div class="ac_top">
        <div class="g-o">
            <div class="ac_menu" id="ulLoginStatus">
                        <span class="user" style="margin: 0; color: #999;">
                           <a th:if="${session.user.account}==null" href="/user/tologin">登录</a>　
                         <a th:if="${session.user.account}!=null" th:text="${session.user.account}"></a>
                        </span>
                <span>│</span>
                <a th:href="@{/integral/myIntegral(uid = ${session.user.uId})}">我的积分：<span th:text="${session.total}" style="color: #ffb938">25000</span></a>
                <span>│</span>
                <a href="/user/toAO">首页</a>
                <span>│</span>
                <a href="#">帮助</a>
                <span>│</span>
                全国服务热线：4006-0755-70
            </div>
        </div>
    </div>
    <div class="menu-list head-menu">
        <div class="g-o" style="width:1170px;">
            <a class="logo" th:href="@{/main/first}">
                <img  th:src="@{/img/loan/小母牛.png}" alt="小牛在线-专业P2P网平台">
            </a>
            <input id="_point_current_menu" type="hidden" value="mall">
            <ul class="nav">
                <li>
                    <a th:href="@{/integral/main}"  id="_menu_mall" class="cur">积分兑换</a>
                </li>
                <!--  -->
                <li>
                    <a th:href="@{/integral/Rule}" id="_menu_rule">积分规则</a>
                </li>
                <li>
                    <a th:href="@{/integral/issue}" id="_menu_faq">积分问答</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb">
        <div class="section">
            您现在的位置：
            <a th:href="@{/main/first}">首页</a>&gt;
            <a th:href="@{/integral/main}">积分商城</a>&gt;
            <a th:href="@{/integral/list(spId=0,currPage=1,sort=0)}">商城列表</a>&gt;我的积分
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover table-bordered">
                <tr style="color: #00b8b9">
                    <th>编号</th>
                    <th>积分变动</th>
                    <th>变动类型</th>
                    <th>兑换商品名称</th>
                    <th>积分余额</th>
                </tr>
                <tr th:each="p:${integralList}">
                    <td th:text="${p.size()}"></td>
                    <td th:text="${p.change}"></td>
                    <td th:text="${p.changeType}"></td>
                    <td th:text="${p.integralName}"></td>
                    <td th:text="${p.total}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>