<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>修改商品</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="author" content="yinqi">
    <!--引入相应的bootstrap.JS支持文件-->
    <div th:replace="/backstage/Brepetition::backstageJS"></div>
</head>
<body data-logobg="color_8" data-sidebarbg="color_8">

<div class="layout-web">
    <div class="layout-container">
        <!--引入头html代码-->
        <div th:replace="/backstage/Brepetition::head"></div>
        <!--页面主要内容-->
        <main class="layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <form th:action="@{/integral/Update}" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label>商品编号</label>
                                        <input type="text" readonly class="form-control"  name="Id" th:value="${integralList.id}">
                                    </div>
                                    <div class="form-group">
                                        <label>商品名称</label>
                                        <input type="text" class="form-control"  name="integralName" th:value="${integralList.integralName}">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" name="integralImg" th:value="${integralList.integralImg}" >
                                        <label >商品图片：<img th:width="200" height="100" th:src="@{${'/img/integral/'+integralList.integralImg}}"></label>
                                        <input class="form-control" type="file" name="file">
                                    </div>
                                    <div class="input-group">
                                        <label>兑换积分</label>
                                        <input type="text" class="form-control" value="" name="integral" th:value="${integralList.integral}">
                                    </div>
                                    <div class="form-group">
                                        <label>商品类型</label>
                                        <select class="form-control"  name="integralType">
                                            <option selected th:text="${integralList.integralType}" th:if="${integralList.integralType}!=null"></option>
                                            <option value="生活">生活</option>
                                            <option value="品质">品质</option>
                                            <option value="慧财">慧财</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>商品库存</label>
                                        <input type="text" class="form-control" name="inventory" th:value="${integralList.inventory}">
                                    </div>
                                    <div class="form-group">
                                        <label>标签</label>
                                        <select class="form-control"  name="tag">
                                            <option selected th:text="${integralList.tag}" th:if="${integralList.tag}!=null"></option>
                                            <option value="热门">热门</option>
                                            <option value="优质">优质</option>
                                            <option value="销量">销量</option>
                                            <option value="火爆">火爆</option>
                                            <option value="限量">限量</option>
                                            <option value="科技">科技</option>
                                            <option value="环保">环保</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">确定修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<!--引入相应的javascript支持文件-->
<div th:replace="/backstage/Brepetition::javascript"></div>
</body>
</html>