<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>中国线上智能金融服务平台-小母牛在线</title>
<meta content="如何投标计划、网络贷款、网贷平台、P2P网贷、小牛在线" name="keywords">
<meta content="国内首批由第三方做资金托管账户的网络金融平台，网络出借专业首选——小牛母在线。小牛在线网络借贷平台，线上投标计划方便快捷，详情咨询：4006-0755-70。" name="description">

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<link rel="shortcut icon" href="http://image.xiaoniu88.com/static/WebXn/dist/images/favicon.ico" type="image/x-icon" />
	<link th:href="@{/css/main/base-ddb0535420.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/main/base-6100562494.js}"></script>
<script>
    window.global = {
        cdn: "//image.xiaoniu88.com",
        siteroot: "https://www.xiaoniu88.com",
        staticPath: "//image.xiaoniu88.com/static/WebXn/dist",
        contextPath: "/MyAccount",
        serverTime: "1591843669775"*1,
        userId: "6086292",
        isLogin: true
    }
</script>
	<script type="text/javascript" th:src="@{/js/main/common-83987ed24e.js}"></script>
<script>
    $(function(){
        seajs.use('module/common/common')
    })
</script>
	<link th:href="@{/css/style-1ed5f9e4a1.css}" rel="stylesheet">
	<style>
		.zfp{
			text-align: center;
			font-size: 18px;
		}
		.zfk{
			width: 100px;
			line-height: 30px;
			padding: 0 10px;
			margin: 10px;
			font-size: 18px
		}
		.zfbut{
			width: 120px;
			line-height: 36px;
			text-align: center;
			font-size: 14px;
			border: 1px solid #ff7136;
			border-radius: 5px;
		}
		#chongZhiK{
			width: 80%;
			margin: 0;
			background-color: #ccc5;
			border-radius: 5px;
			height: 0;
			transition: 0.5s;
		}
		.hkTitle{
			float: left;
			text-align: center;
			width: 10%;
			height: 30px;
			line-height: 30px;
			font-size: 16px;
			margin: 0 2.1%;
		}
		.hkLie{
			float: left;
			width: 88px;
		}
		.hkRi{
			width: 98%;
			margin: 2px 0 2px 0;
			height: 65px;
			background-color: rgb(212,233,250);
		}
		.hkRik{
			width: 98%;
			margin: 2px 0;
			height: 65px;
			background-color: transparent;
		}
		.hkRi p{
			text-align: center;
			font-size: 12px;
			padding: 5px 0;
		}
		.hkButton{
			width: 120px;
			height: 30px;
			margin: 0 30px;
			background-color: rgb(212,233,250);
			border: 1px black solid;
		}
		.hkButton:hover{
			background-color: rgb(180,212,245);
		}
		.hkButKuan{
			width: 80%;
			float: left;
			margin-left: 9.5%;
			margin-top: 25px;
			text-align: center;
		}
	</style>
	<style>
		.circle {
			stroke-dasharray: 298.5;
			stroke-dashoffset: 298.5;
		}

		input[type="checkbox"]:checked+svg .circle {
			animation: quan 0.9s ease-in-out;
			animation-fill-mode: forwards;
		}

		.tick {
			stroke-dasharray: 87.5;
			stroke-dashoffset: 87.5;
		}

		input[type="checkbox"]:checked+svg .tick {
			animation: gou 0.8s ease-out;
			animation-fill-mode: forwards;
			animation-delay: 0.75s;
		}

		@keyframes quan {
			from {
				stroke-dashoffset: 298.5;
			}
			to {
				stroke-dashoffset: 597;
			}
		}

		@keyframes gou {
			from {
				stroke-dashoffset: 87.5;
			}
			to {
				stroke-dashoffset: 0;
			}
		}
	</style>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<input value="true" type="hidden" id="isLogin"/>
<div class="affiche" id="afficheModel">
	<i class="icon-common icon-common-close"></i>
</div>
<header th:replace="/common::commonHeader"></header>
<!--导航-->
<div th:replace="/common::commonNav"></div>

	<input type="hidden" value="index" id="userNavList">
	<!-- 当前选中菜单 -->
	<div class="mail">
		<div class="g-account-main">
			<div class="path">
				您现在的位置：<span>我的账户 > 账户总览</span>
			</div>
			<div class="center user-box">
    		<!--start 我的账户左边菜单列表-->
				<div class="account-list" th:fragment="inflist">
					<div class="account-info">
						<div class="member-info">
							<div>
								<span class="name" id="username" th:if="${session.user.uName} ne null" th:text="${session.user.uName}">**</span>
								<span class="name" id="username" th:if="${session.user.uName} eq null" th:text="${session.user.account}">**</span>
								<span class="member-level pop-tip member-level-2" id="member-level"
									  title="<a target='_blank' href='/user/member/benefits'>了解更多权益</a>">会员等级
								</span>
							</div>
							<div class="security-level">
								我的邀请人：
								<span th:if="${session.user.refereer}=='无'">
									<a href="javascript:openwin()" th:if="${session.user.refereer} eq '无'">现在填写</a>
								</span>

								<span id="security-level" th:if="${session.user.refereer}!='无'" th:text="${session.user.refereer}"></span></div>
						</div>
						<div class="badge-info">
							<i class="badge-icon badge-planner pop-tip" id="badge-planner"title="您已成为理财师"></i>
							<i class="badge-icon badge-realname middle pop-tip" style="background-position: 22px -123px;" title="实名认证" th:if="${session.ren.cred!=null}"></i>
							<i class="badge-icon badge-realname middle pop-tip" title="您已实名认证" th:if="${session.ren.cred==null}"></i>
							<i class="badge-icon badge-bindcard pop-tip" style="background-position: 0 -205px;" title="您已绑定银行卡" th:if="${session.ren.bank!=null}"></i>
							<i class="badge-icon badge-bindcard pop-tip" title="绑定银行卡" th:if="${session.ren.bank==null}"></i>
						</div>
						<div class="point-info">
							我的积分：<a href="/integral/main?q=0" target="_blank" th:text="${session.sig.total}" data-bind="pointBalance"></a>
							<a href="/integral/list?spId=2&currPage=1&sort=0" target="_blank">【积分换礼】</a>
						</div>
						<div id="sign-info" class="sign-info"></div>
					</div>
					<ul class="g-cf left-menu">
						<li id="ov">
							<a class="h2" href="/user/toAO"><b>账户总览</b></a>
						</li>
						<li>
							<a target="_blank" th:href="@{/loan/main2}">我的网贷</a>
						</li>
						<li id="zj">
							<a href="/user/tozj">资金记录</a>
						</li>
						<li id="safe">
							<a href="/user/toAS">账户安全</a>
						</li>
						<li class="last" id="card">
							<a href="/user/viewApply">银行卡管理</a>
						</li>
						<li class="last" id="gj">
							<a th:href="@{/user/toCreditRegisterPage}">高级借贷信息管理</a>
						</li>
						<li id="yh">
							<a href="/user/toYuhui">我的优惠<span id="bonus-count"></span></a>
						</li>
						<li class="planner last" id="yq">
							<a href="/user/toYq">邀请好友<span>赚收益</span></a>
						</li>
					</ul>
					<div class="qqun">
						<p class="q1 g-dn">客户交流群：
							<br/>521069624
							<a class="qq-icon" target="_blank"  rel="nofollow" href="//shang.qq.com/wpa/qunwpa?idkey=772aceff2684cb1e0a2904e4550e02e37ce7cf7900bacdccc6ecc562706ec6f2">
								<img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="小母牛在线客户交流群④" title="小母牛在线客户交流群④" />
							</a>
						</p>
						<p class="q2">投标计划群：
							<br/>479230479
							<a class="qq-icon" target="_blank"  rel="nofollow" href="//shang.qq.com/wpa/qunwpa?idkey=0359784f6397235da982b8db57f19d699a396ea11da21e430395253ab6035580">
								<img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="小母牛在线客户交流群②" title="小母牛在线客户交流群②"/>
							</a>
						</p>
						<div class="g-cf">
							<span class="g-fl">微信客服号：<br/>niubaobao88888</span>
							<div class="weixin-icon" data-key="kfh01">
								<i></i>
							</div>
						</div>
					</div>
				</div>
				<div class="account-cont">
				<div class="account-index">
					<div class="assets">
						<div class="assets-left">
							<dl class="total">
								<dt>总资产<i class="icon-question" title="<p style='color:red;'>*投标中状态的待收利息及奖励不计入总资产。</p>&#10;<p>总资产=待收本金+待收利息及奖励+提现冻结+可用余额</p>&#10;<p>待收本金：含体验金本金及投资冻结金额</p>&#10;<p>待收利息及奖励= 待收利息+待收奖励</p>&#10;<p>待收奖励=待收新手奖励+待收增利券奖励+待收限时奖励+待收续期奖励+待收其他奖励</p>"></i></dt>
								<dd>
									<big th:text="${#numbers.formatDecimal(map.zonMon,1,'COMMA',2,'POINT')}"></big>
									<small>元</small>
									<span>含0.00元体验金</span>
								</dd>
							</dl>
							<div class="detail">
								<dl class="due-principal">
									<dt>待收本金(元)</dt>
									<dd th:text="${#numbers.formatDecimal(map.money,1,'COMMA',2,'POINT')}"></dd>
								</dl>
								<dl class="due-interest">
									<dt>待收利息及奖励(元)<i class="icon-question" title="<p>待收利息及奖励是指持有中/转让中的待收利息及待收平台奖励，待收平台奖励包括新手奖励、增利券奖励、限时奖励、续期奖励、返现红包和平台其他奖励</p><p>*转让标待收利息包括待收垫付利息</p>"></i></dt>
									<dd>0.00</dd>
								</dl>
								<dl class="assets-freeze last">
									<dt>资金冻结(元)<i class="icon-question" title="<p>资金冻结=提现冻结+体验标利息冻结</p><p>体验标利息冻结：用户未在平台完成首次充值时，已回款的体验标利息会处于冻结状态，需用户完成首次充值后才会解冻到网贷余额</p>"></i></dt>
									<dd>0.00</dd>
								</dl>
							</div>
							<div class="balance">
								<dl>
									<dt>可用余额(元)</dt>
									<dd th:text="${#numbers.formatDecimal(session.user.avaBalance,1,'COMMA',2,'POINT')}"></dd>
								</dl>
								<a th:if="${bank != null}" class="withdrawal-btn" style="cursor: pointer" onclick="chuFaBut('tx')">提现</a>
								<a th:if="${bank != null}" class="recharge-btn" style="cursor: pointer" onclick="chuFaBut('cz')">充值</a>
								<dl th:if="${bank == null}" style="width: 120px;line-height: 124px;position: absolute;">
									<dt>您还未绑定银行卡</dt>
								</dl>
							</div>
							<div id="chongZhiK">
								<form th:action="@{/user/czTx}" method="post">
									<div id="conzhi" style="display: none">
										<p class="zfp">
											充值金额:
											<input class="zfk" name="money" id="moneyCz" oninput="padMoney(this)" type="text">元
										</p>
									</div>
									<div id="tixian" style="display: none">
										<p class="zfp">
											提现金额:
											<input class="zfk" id="moneyTX" oninput="padMoney(this)" type="text">元
										</p>
									</div>
									<div id="zfYanz" style="display: none">
										<p class="zfp" id="yaoPwd" style="display: none">
											支付密码:<input class="zfk" style="width: 120px;" id="userPwd" type="password">
										</p>
										<p class="zfp" id="noPwd" style="display: none;height: 54px;line-height: 54px;">
											支付宝充值
										</p>
										<p class="zfp">
											<input type="button" class="zfbut" onclick="quXiaoZf('qx')"
												   style="background-color:#fff;color:#ff7136;" value="取消">
											<input type="submit" class="zfbut" onclick="return quXiaoZf('zf')"
												   style="background-color: #ff7136;color: #fff" value="确认">
										</p>
									</div>
								</form>
							</div>
							<div id="yes" style="width: 100px;height: 100px;position: absolute;left: 46.5%;background-color: transparent;pointer-events: none;">
								<input type="checkbox" id="chufa" style="width: 0;height:0;" />
								<svg width="100" height="100">
									<circle fill="none" stroke="#68E534" stroke-width="5" cx="50" cy="50" r="47.5" class="circle" stroke-linecap="round" transform="rotate(-22.5 50 50)"/>
									<polyline fill="none" stroke="#68E534" stroke-width="6" points="22,53.5 43.25,71 76,34.5" stroke-linecap="round" stroke-linejoin="round" class="tick"/>
								</svg>
							</div>
							<div style="font-size: 14px;color: #999;padding-bottom: 37px;">
								<span th:text="累计充值：+${#numbers.formatDecimal(map.rmax,1,'COMMA',2,'POINT')}+元"></span>
								<span th:text="累计提现：+${#numbers.formatDecimal(map.wmax,1,'COMMA',2,'POINT')}+元" style="margin-left: 30px;"></span>
							</div>
						</div>
						<div class="assets-right">
							<!-- <dl class="earned">
									<dt>累计已赚(元)<i class="icon-question" title="<p style='color:red'>*累计已赚是指用户从加入平台第一天至今实际已到账的收益</p><p>累计已赚=已赚收益+已赚邀请奖励-提现手续费；</p><p>已赚收益=已赚利息及奖励+获得让利-让利亏损-转让手续费</p><p>获得让利：购买转让标时的获得让利</p><p>让利亏损：安稳投/散标/转让标转让时，让利亏损金额</p><p>转让手续费：安稳投/散标/转让标提前转让时平台收取的服务费</p>"></i></dt>
									<dd>0.00</dd>
							</dl> -->
							<div class="detail" style="border-bottom: 1px dashed #eeefef">
								<dl class="profit-earnings">
									<dt>累计已赚(元)<i class="icon-question" title="<p style='color:red'>*累计已赚是指用户从加入平台第一天至今实际已到账的收益</p>&#10;<p>累计已赚=已赚收益+已赚邀请奖励-提现手续费；</p>&#10;<p>已赚收益=已赚利息及奖励+获得让利-让利亏损-转让手续费</p>&#10;<p>获得让利：购买转让标时的获得让利</p>&#10;<p>让利亏损：安稳投/散标/转让标转让时，让利亏损金额</p>&#10;<p>转让手续费：安稳投/散标/转让标提前转让时平台收取的服务费</p>"></i></dt>
									<dd>0.00</dd>
								</dl>
								<!-- <dl class="fp-earnings last">
									<dt>待收收益(元)</dt>
									<dd>0.00</dd>
								</dl> -->
							</div>

							<div class="detail">
								<dl class="profit-earnings">
									<dt>已赚收益(元)</dt>
									<dd>0.00</dd>
								</dl>
								<dl class="fp-earnings last">
									<dt>邀请好友收益(元)</dt>
									<dd>0.00</dd>
								</dl>
							</div>
							<div class="pk-area"></div>
						</div>
					</div>
				<div class="lend">
					<div class="charts">
						<h2 style="text-align: center">出借走势</h2>
						<div class="inner" style="width: 770px;padding: 25px">
							<div id="chartsData" style="width: 100%"></div>
						</div>
					</div>
					<div class="charts">
						<h2 class="hkTitles" style="text-align: center;margin: 10px 0;">回款日历</h2>
						<div class="inner" style="width: 770px;padding: 25px;height: 430px;border: 0">
							<div style="width: 80%;height: 30px;margin: 0 auto">
								<p class="hkTitle">周日</p>
								<p class="hkTitle">周一</p>
								<p class="hkTitle">周二</p>
								<p class="hkTitle">周三</p>
								<p class="hkTitle">周四</p>
								<p class="hkTitle">周五</p>
								<p class="hkTitle">周六</p>
							</div>
							<div id="huiKuan" style="width: 80%;float: left;margin-left: 9.5%;">
								<div class="g-tc" style="padding-top: 100px;">
									<img src="//image.xiaoniu88.com/static/WebXn/dist/images/loading-44bbc291bc.gif" alt="加载中..." />
								</div>
								<div class="hkLie zou7"></div>
								<div class="hkLie zou1"></div>
								<div class="hkLie zou2"></div>
								<div class="hkLie zou3"></div>
								<div class="hkLie zou4"></div>
								<div class="hkLie zou5"></div>
								<div class="hkLie zou6"></div>
							</div>
						</div>
					</div>
				</div>
			<div class="recommend" id="recommend">
			</div>
		</div>
				</div>
		<!--内容区 end-->
			</div>
		</div>
	</div>
	<div id="monthupPage"  class="monthup-page" style="display:none;">
			<p class="monthup-title">月月牛授权升级，享专属高收益率</p>
			<div class="monthup-page-txt-con">
				<div class="monthup-page-txt">
					<div class="total-amount">
						<p>当前持有总金额 : <span id = "totalAmount">10000.00</span>元</p>
					</div>
					<p class="why-choice">为什么要升级为升财牛？</p>
					<div class="question" style="margin-top:0px;">
						<h3><i></i><p>赚更多</p></h3>
						<p id="firstAnswer" class="answer-p">继续享当前收益率<span>11.00% /11.5%</span>，前3个月额外<span class="red-txt">+0.5%</span></p>
					</div>
					<div class="question">
						<h3><i></i><p>赚更久</p></h3>
						<p class="answer-p">可以当前收益率继续持有24个月</p>
					</div>
					<div class="question">
						<h3><i></i><p>够灵活</p></h3>
						<p class="answer-p">按日计息，每月都可提取，退出同样随心</p>
					</div>
					<div class="attention">
						<p>注：授权升级后月月牛的资产将被转让，并由平台自动购买等额的升财牛资产，您无需其他操作，即可以月月牛收益率继续持有升财牛资产</p>
					</div>
					<a id="monthUpBtn">一键授权升级</a>
				</div>
			</div>
		</div>
		<div class="g-h10"></div>
	</div>
	
	<div class="g-dn" id="dialog">
		<div class="notip-set-content">
			<p>设置失败，请重试！</p>
		</div>
	</div>
	<!--footer-->
<div th:replace="/common::commonFooter"></div>
<!--start 尾部-->
<div th:replace="/common::commonEnd"></div>
<!--推荐人弹窗-->
<div th:fragment="refereer">
    <div class="zhezhao" id="zhezhao">
        <div class="tankuang">
            <div id="header" style="background-color:#ff7136">
                <p class="title">填写推荐人</p>
                <a id="header-right" onclick="closewin()">×</a>
            </div>
            <div id="content">
                <div style="padding:30px;">
                    <div style="text-align:right;font-size:13px;color:#999999;width:110px;display:inline-block;float:left;padding-top:9px;">我的推荐人：</div>
                    <div style="float:left">
                        <input id="referee" onclick="referee_check()" style="width: 190px;height: 30px;line-height: 30px;padding-left: 7px;" type="text" placeholder="请填写推荐人ID"/><br>
                        <div id="refereeTip" style="visibility: visible;margin:5px 0;color: #aaa;height: 20px;">
                            <span id="span1"></span>
                            <span id="span2"></span>
                        </div>
                    </div>
                    <div style="text-align:center">
                        <button onclick="referee_sub()" style="width:132px;height:39px;line-height:39px;color:#fff;background-color:#ff7136;border-radius:5px;
							border: 1px solid;margin-top: 15px;margin-right: 7px">
                            提交</button>
                    </div>
                    <p style="text-align: center;padding: 10px 5px 10px 5px;border: 1px solid #e0af48;background-color: #FFF9E3;margin-top: 39px;font-size: 14px;"><span class="glyphicon glyphicon-warning-sign" style="color: #ff7136;margin-right: 20px"></span>您的推荐人成功提交后,将不可更改。</p>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">

        .zhezhao{
            position: fixed;
            left: 0px;
            top: 0px;
            background: #000;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background-color: rgba(234,238,247,0.3);
            display: none;
        }
        .tankuang{
            position: relative;
            background: #fff;
            width: 420px;
            height: 300px;
            border-radius: 5px;
            margin: 5% auto;
            border: 1px solid #ff7136;
        }
        #header{
            height: 40px;
        }
        #header-right{
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            background: #ff7136;
            color: #fff;
            right: 5px;
            top: 1px;
            text-align: center;
            font-size:25px;
        }
        .title{
            font-size:15px;
            color:#fff;
            padding:10px;
        }
        #content{
            height:100px;
        }
    </style>
    <script>
        function openwin(){
            $("#zhezhao").css("display","block");
        }
        function closewin(){
            $("#zhezhao").css("display","none");
        }

        function referee_check() {
            var referee = $("#referee").val();
            if (referee==null||referee==""){
                $("#span1").removeClass("glyphicon glyphicon-minus-sign");
                $("#span2").text("");
            }else {

            }
        }
        function referee_sub() {
            var referee = $("#referee").val();
            if (referee!=null&&referee!=""){
                $.post("/user/bindReferee",{referee:referee},function (data) {
                    if(data.msg=="success"){
                        window.location.reload();
                        return;
                    }else if(data.msg=="该用户不存在，请重试") {
                        $("#span1").addClass("glyphicon glyphicon-minus-sign");
                        $("#span1").css("color","red");
                        $("#span2").text("认证失败，请检查推荐人ID是否正确");
                    }else{
                        $("#span1").addClass("glyphicon glyphicon-minus-sign");
                        $("#span1").css("color","red");
                        $("#span2").text("推荐人不能写自己");
                    }
                },"json");
            }else {
                $("#span1").addClass("glyphicon glyphicon-minus-sign");
                $("#span1").css("color","red");
                $("#span2").text("推荐人ID不能为空");
            }
        }
    </script>
</div>
<!--end 尾部-->
<script>
	var OFf = false;
    var types = '';
	function chuFaBut(type) {
	    types = type;
        $("#chongZhiK").css("height","153px");
        $("#chongZhiK").css("padding-bottom","10px");
        $("#chongZhiK").css("margin","20px auto");
        $("#chongZhiK").css("margin-top","0");
        if(type === 'cz'){
            if(OFf){
                $("#conzhi").css("display","block");
                $("#tixian").css("display","none");
                $("#noPwd").css("display","block");
                $("#yaoPwd").css("display","none");
			}else {
                $("#noPwd").css("display","block");
                setTimeout("yanCiType('ofcz')","300");
			}
        }else {
            if(OFf){
                $("#conzhi").css("display","none");
                $("#tixian").css("display","block");
                $("#yaoPwd").css("display","block");
                $("#noPwd").css("display","none");
            }else {
                $("#yaoPwd").css("display","block");
                setTimeout("yanCiType('oftx')","300");
            }
        }
        OFf = true;
        setTimeout("yanCiType('oncz')","500");
    }
    var suo = true;
    function quXiaoZf(type) {
	    if(type === 'qx'){
            OFf = false;
            types = '';
            $("#chongZhiK").css("height","0");
            $("#chongZhiK").css("padding-bottom","0");
            $("#chongZhiK").css("margin","0 auto");

            $("#conzhi").css("display","none");
            $("#tixian").css("display","none");
            $("#zfYanz").css("display","none");
		}else {
	        if(suo){
	            suo = false;
                if(types === 'cz'){
                    return true;
				}else {
                    var pwd = $("#userPwd").val();
                    var money = $("#moneyTX").val();

                    $.post("/user/tiXian",{money: money,type:types,pwd:pwd},
                        function (data) {
                            if(data.msg === 'cg'){
                                $("#chufa").attr("checked", "true");
                                setTimeout("shuaXing()","1000");
                            }else if(data.msg === "mmcw"){
                                $("#userPwd").css("border-color","red");
                            }else {
                                alert(data.msg);
                            }
                            suo = true;
                        }, "json");
                    return false;
				}
			}
		}
    }
    function padMoney(id) {
        var time = $(id).val();
        if(time.charCodeAt(0) == 46){
            $(id).val("");
        }else{
            var arr = time.split(".");
            if(arr.length === 1){
                for (var i = 0; i < time.length; i++) {
                    var t = time.charCodeAt(i);
                    if (!(t >= 48 && t <= 57)){
                        if(t !== 46){
                            console.log("t1"+t);
                            $(id).val(time.substr(0,time.length-1));
                        }else{
                            $(id).val(arr[0]);
                        }
                    }
                }
            }else{
                var xiaosu = arr[1];
                for (var i = 0; i < xiaosu.length; i++) {
                    var t = xiaosu.charCodeAt(i);
                    if (t >= 48 && t <= 57){
                        if(i < 2)$(id).val(arr[0]+"."+xiaosu);
                        else $(id).val(time.substr(0,time.length-1));
                    }else{
                        $(id).val(time.substr(0,time.length-1));
                    }
                }

            }
        }
    };
    function yanCiType(lx) {
		if(lx === 'ofcz'){
            $("#conzhi").css("display","block");
            $("#tixian").css("display","none");
		}else if(lx === 'oncz'){
            $("#zfYanz").css("display","block");
		}else if(lx === 'oftx'){
            $("#conzhi").css("display","none");
            $("#tixian").css("display","block");
		}
    }
    function shuaXing() {
        location.reload();
    }
</script>
<script th:src="@{/js/echarts.min.js}" type="text/javascript"></script>
<script>
    var chat = echarts.init(document.getElementById("chartsData"));
    $.post("/user/zhexian",{},function(data){
        chat.setOption({
            title: {
                text: '近期出借图'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['出借金额']
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: data.time
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name:'出借金额',
                data: data.value,
                type: 'line'
            }]
        });
    },"json");

    var suoDin = false;
    var daYue = 0;
    var daNian;
    function donTaiYue(type){
        $("#huiKuan .hkButKuan").remove();
        $("#huiKuan .zou1").empty();
        $("#huiKuan .zou2").empty();
        $("#huiKuan .zou3").empty();
        $("#huiKuan .zou4").empty();
        $("#huiKuan .zou5").empty();
        $("#huiKuan .zou6").empty();
        $("#huiKuan .zou7").empty();
        $("#huiKuan").append("<div class=\"g-tc\" style=\"padding-top: 100px;\">\n" +
            "<img src=\"//image.xiaoniu88.com/static/WebXn/dist/images/loading-44bbc291bc.gif\" alt=\"加载中...\" />\n" +
            "</div>");

        if(type === 'x'){
            huoquRi(daYue+1,daNian);
		}else {
            huoquRi(daYue-1,daNian);
		}
        suoDin =false;
	}

    function huoquRi(mon,year) {
        $.post("/user/huikuan",{yue:mon,year:year},function(data){
            var list = data.list;
            var xzou = 6;
            var zou = data.thisday;
            daYue = data.month;
            for(var i = 0;i<list.length;i++){  //循环LIST
                var veh = list[i];
                var sums = veh.sum;
                var days = veh.day;
                var tis = veh.tis;
                if(xzou === 7) xzou = 1;
                else  xzou += 1;

                var html;
                if(suoDin) zou = xzou;
                if(xzou === zou){
                    suoDin = true;
                    if(days.charAt(days.length-1) === '*'){
                        html = "<div class='hkRi' style='background-color:rgb(180,212,245);' onmouseover='yiRuLi(this,"+sums+")' onmouseout='yiChuLi(this,"+sums+")'>"
                    }else if(sums !== 0){
                        html = "<div class='hkRi' style='background-color:#ff7136;' onmouseover='yiRuLi(this,"+sums+")' onmouseout='yiChuLi(this,"+sums+")'>"
                    } else {
                        html = "<div class='hkRi' onmouseover='yiRuLi(this,"+sums+")' onmouseout='yiChuLi(this,"+sums+")'>"
                    }
                    html += "<p>"+days+"</p>\n" +
                        "<p class='tishi'>"+tis+"</p>\n" +
                        "</div>";
                }else {
                    html="<div class='hkRik'>\n" +
                        "</div>";
                    i--;
                }
                $("#huiKuan .g-tc").remove();
                $("#huiKuan .zou"+xzou).append(html);
            }
            var butt = "<div class=\"hkButKuan\">\n" +
                "<button class=\"hkButton\" onclick=\"donTaiYue('s')\">上一月</button>\n" +
                "<span id=\"months\" style=\"font-size: 16px\"></span>\n" +
                "<button class=\"hkButton\" onclick=\"donTaiYue('x')\">下一月</button>\n" +
                "</div>";
            $("#huiKuan").append(butt);
            $("#months").text(daYue+"月");
            daNian = data.year;
            $(".charts .hkTitles").text(daNian+"年 回款日历");
        },"json");
    }
    var myDate = new Date();
    var tYear = myDate.getFullYear();
    var tMonth = myDate.getMonth();
    huoquRi(tMonth+1,tYear);

    function yiRuLi(id,sum) {
		$(id).find(".tishi").text(sum+"元");
    }
    function yiChuLi(id,sum) {
        if(sum === 0)$(id).find(".tishi").text("无");
        else $(id).find(".tishi").text("有回款");
    }

    $(window).bind("load", function () {
        $("#ov").addClass("cur");
    })

</script>
<div class="code2d-pop">
	    <div class="g-o">
	        <div class="code2d-inner">
	            <a class="x" href="javascript:"></a>
	            <div>
	                <img src="https://www.xiaoniu88.com/MyAccount/qrcode/sharebonus" width="113" height="113" />
	                <p>请用微信扫描上方二维码进行分享</p>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>
