<!doctype html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>绑定网贷银行卡—小牛在线</title>

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="shortcut icon" href="http://image.xiaoniu88.com/static/WebXn/dist/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="http://image.xiaoniu88.com/static/WebXn/dist/css/base-ddb0535420.css" />
    <script type="text/javascript" src="http://image.xiaoniu88.com/static/WebXn/dist/lib/base-6100562494.js"></script>

    <script>
        window.global = {
            cdn: "//image.xiaoniu88.com",
            siteroot: "https://www.xiaoniu88.com",
            staticPath: "//image.xiaoniu88.com/static/WebXn/dist",
            contextPath: "/payment",
            serverTime: "1591919679692"*1,
            userId: "6086292",
            isLogin: true
        }
    </script>

    <script type="text/javascript" src="//image.xiaoniu88.com/static/WebXn/dist/module/common/common-83987ed24e.js"></script>
    <script>
        $(function(){
            seajs.use('module/common/common')
        })
    </script>
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/page/payment/deposit/apply/css/apply-73c8a78781.css" />
</head>
<body>
<input type="hidden" id="em" th:value="${session.user.email}"/>
<input type="hidden" id="emcode" />
<input value="true" type="hidden" id="isLogin"/>

<div class="affiche" id="afficheModel">

<span>小牛在线提醒您：为了更流畅的访问本网站，建议您使用IE9.0及以上版本浏览器或360浏览器。
	<a class="link" href="http://se.360.cn" target="_blank" rel="nofollow">点击进入360官网下载&gt;&gt;</a>
</span>
    <i class="icon-common icon-common-close"></i>
</div>


<header th:replace="/common::commonHeader"></header>

<!--导航-->
<div th:replace="/common::commonNav"></div>

<div class="container">
    <div class="g-account-main">
        <div class="path">您现在的位置：我的账户 &gt;
            <span id="pathTitle">绑定网贷银行卡</span>
        </div>
        <div class="center user-box">

            <!--start 我的账户左边菜单列表-->
            <div class="account-list" th:replace="/user/AccountOverview::inflist"></div>

            <script src="//image.xiaoniu88.com/static/WebXn/dist/module/userNavList/js/init-09a2ab6833.js"></script>
            <script>
                $(function () {
                    seajs.use('module/userNavList/js/init');
                });
            </script>

            <!--end 我的账户左边菜单列表-->
            <input type="hidden" value="bankCard" id="userNavList">
            <!-- 左侧当前选中菜单 -->
            <div class="account-cont" id="contanier" th:if="${session.applyType} eq apply" >
                <div class="at-til">
                    <span class="name">绑定网贷银行卡</span>
                </div>
                <div class="bindcard-form" id="bindcardForm">
                    <img class="xn-logo" src="//image.xiaoniu88.com/static/WebXn/dist/images/logo/xn-8ee532502d.png">
                    <div>
                        <label>真实姓名：</label>
                        <input type="text" class="bindcard-input" name="uName" id="uName" value=""onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')"
                               onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\u4E00-\u9FA5]/g,''))" onblur="checkUN()">
                        <span class="bindcard-tip" id="unameMsg">真实姓名必须与您的银行卡开户名一致</span>
                    </div>
                    <div>
                        <label>身份证号码：</label>
                        <input type="text" class="bindcard-input" name="identity" id="identity" maxlength="18" value="" onblur="checkIden()">
                        <span class="bindcard-tip" id="iden" data-tip="请输入身份证号码">请输入身份证号码</span>
                    </div>
                    <div class="bk_cardnum">
                        <label>银行卡号：</label>
                        <input type="text" class="bindcard-input" id="cid" maxlength="23" value=""onkeyup="this.value=this.value.replace(/\D/g,'').replace(/....(?!$)/g,'$& ')" onblur="checkCid()"/>
                        <span class="bindcard-tip" id="cidmsg">仅支持储蓄卡</span>
                    </div>
                    <div>
                        <label>开户银行：</label>
                        <select name="bankName" id="bankName" class="bindcard-input selected" onblur="checkBn()">
                            <option value="">请选择开户银行</option>
                            <option value="农业银行">农业银行</option>
                            <option value="中国银行">中国银行</option>
                            <option value="建设银行">建设银行</option>
                            <option value="光大银行">光大银行</option>
                            <option value="广发银行">广发银行</option>
                            <option value="兴业银行">兴业银行</option>
                            <option value="中信银行">中信银行</option>
                            <option value="招商银行">招商银行</option>
                            <option value="交通银行">交通银行</option>
                            <option value="工商银行">工商银行</option>
                            <option value="平安银行">平安银行</option>
                            <option value="邮政储蓄银行">邮政储蓄银行</option>
                            <option value="浦发银行">浦发银行</option>
                        </select>
                        <span class="bindcard-tip" id="bn"></span>
                    </div>
                    <div class="js_code">
                        <label>邮箱验证码：</label>
                        <input name="code" class="bk_ipt bk_code" type="text" onblur="checkMa(this)">
                        <input class="btn-getcode" type="button" value="获取" id="getcodeBtn" onclick="getMa('smrz',this)"/>
                        <span class="bindcard-tip" data-tip="" id="codeMsg"></span>
                    </div>
                    <div class="code_msg js_code">
                        <span id="code_msg">验证码已发送到您的邮箱 <i th:text="${session.user.email}">178****7767</i></span>
                    </div>
                    <div class="bk_arge_line">
                        <input type="checkbox" name="arge" class="arge" id="arge" checked="checked">
                    <span class="bk_arge">我已阅读并同意 <a class="bindcard-info" href="http://image.xiaoniu88.com/static/WebXn/dist/payment/agreement/fundManagement.html">《资金管理服务协议》</a> </span> </div>
                    <div class="bindcard-msg" id="submitMsg"></div>
                    <button class="bind-btn" type="button" value="立即绑定" onclick="bind()">立即绑定</button>
                </div>
                <dl class="bindcard-tips"> <dt>温馨提示</dt>
                    <dd>
                        1、银行卡的开户名必须与实名登记的姓名一致； <br>
                        2、为了您的资金安全，仅限绑定一张银行卡；仅支持储蓄卡，不可用信用卡；<br>
                        3、更改绑定银行卡，需要提交个人证明材料进行人工审核；如有其它问题咨询，请联系客服。
                    </dd>
                </dl>
            </div>
            <div class="account-cont" id="contanier" th:if="${session.applyType} eq view">
                <div class="at-til">
                    <span class="name">绑定网贷银行卡</span>
                </div>
                <div class="bindcard-form" id="bindcardForm">
                    <img class="xn-logo" src="//image.xiaoniu88.com/static/WebXn/dist/images/logo/xn-8ee532502d.png">
                    <div>
                        <label>真实姓名：</label>
                        <input type="text" class="bindcard-input" th:value="${session.user.uName}" disabled>
                    </div>
                    <div>
                        <label>身份证号码：</label>
                        <input type="text" class="bindcard-input" value="${session.credit.identity}" disabled>
                    </div>
                    <div class="bk_cardnum">
                        <label>银行卡号：</label>
                        <input type="text" class="bindcard-input" value="${session.userBank.cardId}" disabled onkeyup="this.value=this.value.replace(/\D/g,'').replace(/....(?!$)/g,'$& ')"/>
                    </div>
                    <div>
                        <label>开户银行：</label>
                        <input  class="bindcard-input" value="${session.userBank.bankName}" disabled/>
                    </div>
                </div>
                <dl class="bindcard-tips"> <dt>温馨提示</dt>
                    <dd>
                        1、银行卡的开户名必须与实名登记的姓名一致； <br>
                        2、为了您的资金安全，仅限绑定一张银行卡；仅支持储蓄卡，不可用信用卡；<br>
                        3、更改绑定银行卡，需要提交个人证明材料进行人工审核；如有其它问题咨询，请联系客服。
                    </dd>
                </dl>
            </div>
        </div>
        <div class="g-h30"></div>
    </div>
</div>
<!--end 内容-->


<script src="//image.xiaoniu88.com/static/WebXn/dist/page/payment/deposit/apply/js/apply-ea73681945.js"></script>
<script>
</script>

<!--footer-->
<div class="footer" th:fragment="commonFooter">
    <div class="g-o" style="width:1170px">
        <ul>
            <li>
                <a target="_blank" href="javascript:;" class="til">信息披露</a>
                <a target="_blank" href="/portal/platform/index">平台数据</a>
                <a target="_blank" href="/cms/compliance/complianceAudit">合规报告</a>
                <a target="_blank" href="/portal/guide/security">风险管理</a>
                <a target="_blank" href="/cms/about/index">公司概况</a>
                <a target="_blank" href="/cms/about/contactus">联系我们</a>
            </li>
            <li>
                <a target="_blank" href="/cms/help/index" class="til">帮助中心</a>
                <a target="_blank" href="/cms/help/question/1">常见问题</a>
                <a target="_blank" href="/cms/help/question/15">项目介绍</a>
                <a target="_blank" href="/cms/help/question/24">操作演示</a>
                <a target="_blank" href="/cms/help/question/23/id/99">资费说明</a>
            </li>
            <li>
                <a target="_blank" href="/cms/help/index" class="til">新手指南</a>
                <a target="_blank" href="/cms/help/question/3">项目</a>
                <a target="_blank" href="/portal/sitemap/index">网站地图</a>

            </li>
            <li class="last ft-wm">
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/wx-e41abfcd0c.png" alt="小牛在线互联网金融平台官方微信" />
                    <span>官方微信</span>
                </p>
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/app-fc2993f46e.png" alt="专业P2P网贷平台-小牛在线APP" />
                    <span>手机客户端</span>
                </p>
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/community-43d3924ad4.jpg" alt="小牛在线兴趣部落" />
                    <span>兴趣部落</span>
                </p>
            </li>
            <li class="last">
                <p class="til-ic">全国服务热线：</p>
                <p class="bd">4006-0755-70</p>
                <p>服务时间 9:00-18:00</p>
            </li>
        </ul>
    </div>
</div>
<!--start 尾部-->
<div class="foot-bt" th:fragment="commonEnd">
    <p>Copyright &copy; 2015 深圳市小母牛在线互联网信息咨询有限公司  版权所有    备案号：<a  target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action">粤ICP备14079927号</a>&nbsp;&nbsp;<a  target="_blank" rel="nofollow" href="//image.xiaoniu88.com/static/WebXn/dist/images/footer/icp-ee0231e7d0.jpg">ICP证粤B2-20160194</a></p>
    <p>地址：广东省深圳市南山区高新园高新南一道富诚科技大厦顶楼   座机：2333－250941</p>
    <p>市场有风险 出借需谨慎 最终收益以实际为准</p>
    <span>
        <a class="lk01" href="http://www.rating.org.cn/Home/Index/itrust_certifi/wm/1061427753.html" rel="nofollow" target="_blank" title="企业信用评级"></a>
        <a class="lk08" href="http://www.rating.org.cn/Home/Index/satification_certificate/wm/MY2017120701.html" rel="nofollow" target="_blank"
           title="客户满意度评级"></a>
        <a class="lk02" href="http://www.rating.org.cn/Home/Index/rz_certifi/wm/RZ2019061401.html" rel="nofollow" title="官方网站认证" target="_blank"></a>
        <a class="lk04" href="http://szcert.ebs.org.cn/17b502b9-988c-43b1-b21e-d1008a6af37a" target="_blank" rel="nofollow" title="深圳工商主体认证信息"></a>
        <!-- <a class="lk07" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.xiaoniu88.com&lang=zh_cn"></a> -->
    </span>
</div>

<!--end 尾部-->

<!--引入统计代码-->

<div style="display:none">
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-104712537-1', 'auto');
        ga('send', 'pageview');

    </script>
</div>

<script type="text/javascript">
    var couldsub = false;
    var jishi = 59;
    var jishuTishi;
    var yhMa;
    function getMa(type,id){
        var email = $("#em").val();
        if($(id).val() === "获取"){
            $(id).val('获取(59)');
            $(id).css("background-color","white");
            jishuTishi  = setInterval("daojishi()", "1000");

            $.post("/user/getMa",{email:email,type:type},function (data) {
                if(data === "" || data == null){
                    alert("请检查邮箱格式是否正确");
                    $("#emcode").replaceWith("<span class=\"bindcard-tip errTip\">发送验证码失败</span>");
                }else {
                    yhMa = data;
                    alert(yhMa)
                    $("#emcode").attr("value",yhMa);
                }
            },"json");
        }else{
            //已经在获取验证码
            $(".bindcard-msg").attr("disaply","block");
        }
    }
    function daojishi(){
        jishi -= 1;
        if(jishi === 0){
            jishi = 59;
            clearInterval(jishuTishi);
            $("#getcodeBtn").val('获取');
            $("#getcodeBtn").css("border","1px solid #fd7500");
            $("#getcodeBtn").css("color","#fd7500");
        }else{
            $("#getcodeBtn").css("border","1px solid #ccc");
            $("#getcodeBtn").css("color","#ccc");
            $("#getcodeBtn").val("获取("+jishi+")");
        }
    }
    function checkMa(id) {
        if (($("#emcode").val()!=null || $("#emcode").val()!="")&&($(id).val()!=null||$(id).val()!="")){
            if($("#emcode").val()!=$(id).val()){
                $("#codeMsg").replaceWith("<span class=\"bindcard-tip errTip\" id=\"codeMsg\">验证码错误！</span>");
            }else {
                couldsub=true;
            }
        }
    }
    function checkUN() {
        var uName = $("#uName").val();
        if(uName!=null||uName!=""){
            $("#unameMsg").replaceWith("<span class=\"bindcard-tip\" id=\"unameMsg\">真实姓名必须与您的银行卡开户名一致</span>");
        }
    }
    function checkIden() {
        var identity = $("#identity").val();
        if(identity==null||identity==""){
            $("#iden").replaceWith("<span class=\"bindcard-tip\" id=\"iden\" data-tip=\"请输入身份证号码\">请输入身份证号码</span>");
        }else if(identity!=null||identity!=""){
            var idCardReg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
            if(!(/^[1-9]{1}[0-9]{14}$|^[1-9]{1}[0-9]{16}([0-9]|[xX])$/.test(identity))){
                $("#iden").replaceWith("<span class=\"bindcard-tip errTip\" id=\"iden\">请输入正确的身份证号</span>");
            }
        }
    }
    function checkCid() {
        var cardId = $("#cid").val();
        if(cardId==null||cardId==""){
            $("#cidmsg").replaceWith("<span class=\"bindcard-tip\" id=\"cidmsg\">仅支持储蓄卡</span>");
        }
    }
    function checkBn() {
        var bankName = $("#bankName").val();
        if (bankName == null || bankName == "") {
            $("#bn").replaceWith("<span class=\"bindcard-tip\" id=\"bn\"></span>");
        }
    }

        function bind() {
            var uName = $("#uName").val();
            var identity = $("#identity").val();
            var cardId = $("#cid").val();
            var bankName = $("#bankName").val();

            if (uName == null || uName == "") {
                $("#unameMsg").replaceWith("<span class=\"bindcard-tip errTip\" id=\"unameMsg\">该选项不能为空！</span>");
            }
            if (identity == null || identity == "") {
                $("#iden").replaceWith("<span class=\"bindcard-tip errTip\" id=\"iden\">该选项不能为空！</span>");
            } else {
                var idCardReg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
                if (!idCardReg.test(identity)) {
                    $("#iden").replaceWith("<span class=\"bindcard-tip errTip\" id=\"iden\">请输入正确的身份证号</span>");
                }
            }
            if (cardId == null || cardId == "") {
                $("#cidmsg").replaceWith("<span class=\"bindcard-tip errTip\" id=\"cidmsg\">该选项不能为空！</span>");
            }
            if (bankName == null || bankName == "") {
                $("#bn").replaceWith("<span class=\"bindcard-tip errTip\" id=\"bn\">该选项不能为空！</span>");
            }

            if (couldsub == true) {
                $.post("/user/smrz", {
                    uName: uName,
                    identity: identity,
                    cardId: cardId,
                    bankName: bankName
                }, function (data) {
                    $(window).attr("location","/user/toAS")
                }, "json");
            }
        }
</script>
</body>
</html>