<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>贷款高级信息设置-小母牛在线</title>
    <link rel="icon" th:href="@{/img/loan/小母牛.png}" type="image/x-icon" />
    <link rel="shortcut icon" th:href="@{/img/loan/小母牛.png}" type="image/x-icon" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="http://image.xiaoniu88.com/static/WebXn/dist/css/base-ddb0535420.css" />
    <script type="text/javascript" src="http://image.xiaoniu88.com/static/WebXn/dist/lib/base-6100562494.js"></script>
    <script>
        window.global = {
            cdn: "//image.xiaoniu88.com",
            siteroot: "http://www.xiaoniu88.com",
            staticPath: "//image.xiaoniu88.com/static/WebXn/dist",
            contextPath: "/user",
            serverTime: "1591846713575"*1,
            userId: "6086292",
            isLogin: true
        }
    </script>
    <script type="text/javascript" src="http://image.xiaoniu88.com/static/WebXn/dist/module/common/common-83987ed24e.js"></script>
    <script>
        $(function(){
            seajs.use('module/common/common')
        })
    </script>
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/user/safety/css/style-ed9716a8f6.css" />


<!--    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>-->
<!--    <script th:src="@{/js/bootstrap.js}"></script>-->

    <script th:src="@{/js/jquery-1.12.4.js}"></script>

</head>

<body>
<input type="hidden" id="em" th:value="${session.user.email}"/>
<input type="hidden" id="dp" th:value="${session.user.loginPsw}"/>
<input value="true" type="hidden" id="isLogin"/>

<header th:replace="/common::commonHeader"></header>

<!--导航-->
<div th:replace="/common::commonNav"></div>

<!-- 最外层容器container -->
<div class="container">
    <div class="g-account-main">
        <!-- 面包屑冬导航 -->
        <div class="path">
            您现在的位置：<span><a th:href="@{/user/toAO}">我的账户</a> > 账户安全</span>

        </div>
        <div class="center user-box">
            <!-- 我的账户菜单 -->

            <!--start 我的账户左边菜单列表-->
            <div class="account-list" th:fragment="usersafe">
                <div class="account-info">
                    <div class="member-info">
                        <div>
                            <span class="name" id="username" th:text="${session.user.uName}">用户名</span>
                            <span class="member-level pop-tip" id="member-level" title="<a target='_blank' href='/user/member/benefits'>了解更多权益</a>">会员等级</span>
                        </div>
                        <div class="security-level">邀请人账号：<span id="security-level" th:text="${session.user.refereer}"></span></div>
                    </div>
                    <div class="badge-info">
                        <i class="badge-icon badge-planner pop-tip" id="badge-planner"></i>
                        <i class="badge-icon badge-realname middle pop-tip" style="background-position: 22px -123px;" th:if="${session.ren.cred!=null}"></i>
                        <i class="badge-icon badge-realname middle pop-tip" th:if="${session.ren.cred==null}"></i>
                        <i class="badge-icon badge-bindcard pop-tip" style="background-position: 0 -205px;" th:if="${session.ren.bank!=null}"></i>
                        <i class="badge-icon badge-bindcard pop-tip" th:if="${session.ren.bank==null}"></i>
                    </div>
                    <div class="point-info">
                        我的积分：<a href="/integral/main?q=0" target="_blank" th:text="${session.sig.total}" data-bind="pointBalance"></a>
                        <a href="/integral/list?spId=2&currPage=1&sort=0" target="_blank">【积分换礼】</a>
                    </div>
                    <div id="sign-info" class="sign-info"></div>

                </div>
                <ul class="g-cf left-menu">
                    <li data-type="index">
                        <a class="h2" href="/user/toAO"><b>账户总览</b></a>
                    </li>
                    <li data-type="">
                        <a target="_blank" th:href="@{/loan/main2}">我的网贷</a>
                    </li>
                    <li data-type="record">
                        <a href="/user/tozj">资金记录</a>
                    </li>
                    <li data-type="datum" id="safe">
                        <a href="/user/toAS">账户安全</a>
                    </li>
                    <li data-type="bankCard" class="last">
                        <a href="/user/viewApply">银行卡管理</a>
                    </li>
                    <li data-type="credit" class="last cur">
                        <a th:href="@{/user/toCreditRegisterPage}">高级借贷信息管理</a>
                    </li>
                    <li data-type="redEnvelope">
                        <a href="/user/toYuhui">我的优惠<span id="bonus-count"></span></a>
                    </li>
                    <li class="planner last" data-type="planner" style="border-top: 1px solid #ccc">
                        <a href="/user/toYq">邀请好友<span>赚收益</span></a>
                    </li>

                </ul>
                <div class="qqun">
                    <p class="q1 g-dn">客户交流群：
                        <br/>521069624
                        <a class="qq-icon" target="_blank"  rel="nofollow" href="//shang.qq.com/wpa/qunwpa?idkey=772aceff2684cb1e0a2904e4550e02e37ce7cf7900bacdccc6ecc562706ec6f2">
                            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="小牛在线客户交流群④" title="小牛在线客户交流群④" />
                        </a>
                    </p>
                    <p class="q2">投标计划群：
                        <br/>479230479
                        <a class="qq-icon" target="_blank"  rel="nofollow" href="//shang.qq.com/wpa/qunwpa?idkey=0359784f6397235da982b8db57f19d699a396ea11da21e430395253ab6035580">
                            <img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="小牛在线客户交流群②" title="小牛在线客户交流群②"/>
                        </a>
                    </p>
                    <div class="g-cf">
                        <span class="g-fl">微信客服号：<br/>niubaobao88888</span>
                        <div class="weixin-icon" data-key="kfh01">
                            <i></i>
                        </div>
                    </div>
                </div>
            </div>

            <script src="http://image.xiaoniu88.com/static/WebXn/dist/module/userNavList/js/init-09a2ab6833.js"></script>
            <script>
                $(function () {
                    var islogin = "${sessionScope.user.userName}";
                    if (islogin==null){
                        window.location.href="/user/tologin";
                    }
                });
            </script>

            <!--end 我的账户左边菜单列表-->
            <!-- 右侧内容 -->
            <div class="account-cont">
                <!-- 右侧标题 -->
                <div class="at-til">
                    <span class="name">账户安全</span>
                </div>

                <!-- 具体内容-账户安全 -->
                <div class="at-bd red-envelope">
                    <!-- 顶部 -->
                    <div class="zccount_msg">
                        <div class="account_number">
                            <span class="account_name" th:text="${session.user.uName}">用户名</span>
                            <span class="account_regTime" th:text="'注册时间&nbsp;&nbsp;'+${#dates.format(session.user.regTime, 'yyyy-MM-dd')}">注册时间&nbsp;&nbsp;****-**-**</span>
                            <a href="javascript:" class="account_addrecommend">填写推荐人</a>
                        </div>

                        <div id="dialogCode">
                            <div class="recommend_pop">
                                <div class = "rp_step rp_step1">
                                    <ul>
                                        <li class="g-cf">
                                            <div class="g-fl rp_field">我的推荐人：</div>
                                            <div class="rp_value">
                                                <input type="text" id="setrefferee" placeholder="请填写您的推荐人用户名或手机号" class="rp_txt" /><br><span class="rp_error">请输入正确的推荐人账号或手机号!</span>
                                            </div>
                                        </li>
                                        <li class="g-cf">
                                            <div class="g-fl rp_field"></div>
                                            <div class="rp_value">
                                                <input type="button" id="rp_btn" class="rp_btn" value="提交" />
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="rp_tips">您的推荐人成功提交后,将不可更改。</p>
                                </div>
                                <div class = "rp_step rp_step2">
                                    <h3>您已成功把<span class="rec_name">**</span>设置为您的推荐人。</h3>
                                    <p>因推荐人唯一性且不可更改，推荐人不会在"我的资料"中显示。</p>
                                    <input type="button" class="rp_btn" value="确定" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 贷款高级信息设置 -->
                    <div style="margin: 10px;width: 89%;height: 100%;">
                        <div id="formContainer">
                            <div style="width: 100%;padding-bottom: 20px;border-bottom: 1px solid #999">
                                <h2 style="color: #333;text-align: center">高级借贷信息管理</h2>
                            </div>
                            <div style="margin-top: 20px">

                                <p style="height: 50px;line-height: 50px;border: 1px solid #ddd">


                                    <!--                 如果身份证照片信息为空                   -->
                                    <span th:if="${credit.positiveIDPhoto == null && credit.negativeIDPhoto == null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/tan.png}" style="line-height: 50px">
                                            身份证照
                                        </span>
                                        <span class="IdentityPhotoRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">必填项</span>
                                            <span style="position: absolute;right: 10px"><a class="insertIdentityPhotoA" href="javascript:insertIdentityPhotoShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                    <!--                 如果身份证照片信息不为空                   -->
                                    <span th:if="${credit.positiveIDPhoto != null && credit.negativeIDPhoto != null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/gou.png}" style="line-height: 50px">
                                            身份证照
                                        </span>
                                        <span class="IdentityPhotoRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">必填项</span>
                                            <span style="position: absolute;right: 10px"><a class="insertIdentityPhotoA" href="javascript:insertIdentityPhotoShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                <div id="insertIdentityPhoto" style="width: 70%;margin: 0 auto;display: none">
                                    <form th:if="${credit.positiveIDPhoto == null && credit.negativeIDPhoto == null}" th:action="@{/user/toUploadIdentity}" onsubmit="return IdentityPhotoSubmit()" method="post" enctype="multipart/form-data">
                                        <table cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 15px">
                                            <input type="hidden" name="creId" th:value="${credit.creId}">

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">请上传身份证正面</td>
                                                <td><input id="positiveIDPhoto" type="file" name="positiveIDPhotoFile"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">请上传身份证反面</td>
                                                <td><input id="negativeIDPhoto" type="file" name="negativeIDPhotoFile"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td colspan="2" style="text-align: center">
                                                    <button type="submit" style="width: 100px;height: 30px;border-radius: 3px;border: 1px solid #ccc;background: #5189c3;color: #fff;font-size: 13px;font-weight: bold;">
                                                        提交
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>

                                    <table th:if="${credit.positiveIDPhoto != null && credit.negativeIDPhoto != null}" cellpadding="0" cellspacing="0" border="1px solid #ccc" style="border: 1px solid #ccc;text-align: center;margin: 20px 0">
                                        <tbody>
                                        <tr style="height: 80px;line-height: 80px">
                                            <th style="width: 130px">用户账号</th>
                                            <td th:text="${session.user.account}" style="width: 180px">编号</td>
                                            <th style="width: 130px">姓名</th>
                                            <td th:text="${credit.name}" style="width: 180px">编号</td>
                                        </tr>

                                        <tr style="height: 80px;line-height: 80px">
                                            <th style="width: 130px">身份证正面</th>
                                            <td style="width: 180px"><img th:src="@{${credit.positiveIDPhoto}}" style="width: 100px;height: 80px"></td>
                                            <th style="width: 130px">身份证反面</th>
                                            <td style="width: 180px"><img th:src="@{${credit.negativeIDPhoto}}" style="width: 100px;height: 80px"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <script type="text/javascript">
                                    var show = true;

                                    function insertIdentityPhotoShow() {

                                        if (show){
                                            $(".insertIdentityPhotoA").text("收起");
                                            $("#insertIdentityPhoto").css("display","block");
                                            $(".IdentityPhotoRow").css("background","#efd3c2");
                                            // document.getElementsByClassName("insertCarA").innerText = "收起";
                                            // document.getElementsByClassName("insertCar").style.display = 'block';
                                            show = false;
                                        }else {
                                            $(".insertIdentityPhotoA").text("查看");
                                            $("#insertIdentityPhoto").css("display","none");
                                            $(".IdentityPhotoRow").css("background","#fff");
                                            // document.getElementById("insertCarA").innerText = "查看";
                                            // document.getElementsByClassName("insertCar").css.display("none");
                                            show = true;
                                        }

                                    }

                                    function IdentityPhotoSubmit() {
                                        return true;
                                    }
                                </script>
                                </p>


                                <p style="height: 50px;line-height: 50px;border: 1px solid #ddd">


                                    <!--                 如果车辆信息为空                   -->
                                    <span th:if="${car == null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/tan.png}" style="line-height: 50px">
                                            名下车辆
                                        </span>
                                        <span class="carRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">抵押贷款时可以用做抵押</span>
                                            <span style="position: absolute;right: 10px"><a class="insertCarA" href="javascript:insertCarShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                    <!--                 如果车辆信息不为空                   -->
                                    <span th:if="${car != null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/gou.png}" style="line-height: 50px">
                                            名下车辆
                                        </span>
                                        <span class="carRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">抵押贷款时可以用做抵押</span>
                                            <span style="position: absolute;right: 10px"><a class="insertCarA" href="javascript:insertCarShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                    <div id="insertCar" style="width: 70%;margin: 0 auto;display: none">
                                        <form th:if="${car == null}" th:action="@{/user/toUploadCar}" onsubmit="return carSubmit()" method="post" enctype="multipart/form-data">
                                            <table cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 15px">
                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td style="text-align: right;padding-right: 12px">请上传车辆登记证书</td>
                                                    <td><input id="carPhoto" type="file" name="photoFile"></td>
                                                </tr>

                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td style="text-align: right;padding-right: 12px">预估价值</td>
                                                    <td><input id="carMoney" type="number" name="money"></td>
                                                </tr>

                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td style="text-align: right;padding-right: 12px">说明</td>
                                                    <td>
                                                        <textarea type="text" name="remark" style="width: 223px;height: 57px;margin: 17.9972px 0px 11.9886px;"></textarea>
                                                    </td>
                                                </tr>

                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td colspan="2" style="text-align: center">
                                                        <button type="submit" style="width: 100px;height: 30px;border-radius: 3px;border: 1px solid #ccc;background: #5189c3;color: #fff;font-size: 13px;font-weight: bold;">
                                                        提交
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>

                                        <table th:if="${car != null}" cellpadding="0" cellspacing="0" border="1px solid #ccc" style="border: 1px solid #ccc;text-align: center;margin: 20px 0">
                                            <tbody>
                                                <tr style="height: 80px;line-height: 80px">
                                                    <th style="width: 130px">编号</th>
                                                    <td th:text="${car.cId}" style="width: 180px">编号</td>
                                                    <th style="width: 130px">照片</th>
                                                    <td style="width: 180px"><img th:src="@{${car.photo}}" style="width: 100px;height: 80px"></td>
                                                </tr>
                                                <tr style="height: 80px;line-height: 80px">
                                                    <th style="width: 130px">价值</th>
                                                    <td th:text="${car.money} + '万'" style="width: 180px">价值</td>
                                                    <th style="width: 130px">说明</th>
                                                    <td th:text="${car.remark}" style="width: 180px">说明</td>
                                                </tr>
                                                <tr style="height: 80px;line-height: 80px">
                                                    <th style="width: 130px">状态</th>
                                                    <td style="width: 180px">
                                                        <span style="color: red" th:if="${car.status == 4}">审核</span>
                                                        <span style="color: red" th:if="${car.status == 0}">不可用</span>
                                                        <span style="color: red" th:if="${car.status == 1}">可用</span>
                                                        <span style="color: red" th:if="${car.status == 2}">已抵</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                <script type="text/javascript">
                                    var show = true;

                                    function insertCarShow() {

                                        if (show){
                                            $(".insertCarA").text("收起");
                                            $("#insertCar").css("display","block");
                                            $(".carRow").css("background","#efd3c2");
                                            // document.getElementsByClassName("insertCarA").innerText = "收起";
                                            // document.getElementsByClassName("insertCar").style.display = 'block';
                                            show = false;
                                        }else {
                                            $(".insertCarA").text("查看");
                                            $("#insertCar").css("display","none");
                                            $(".carRow").css("background","#fff");
                                            // document.getElementById("insertCarA").innerText = "查看";
                                            // document.getElementsByClassName("insertCar").css.display("none");
                                            show = true;
                                        }

                                    }

                                    function carSubmit() {
                                        return true;
                                    }
                                </script>
                                </p>

                                <p style="height: 50px;line-height: 50px;border: 1px solid #ddd">


                                    <!--                 如果房产信息为空                   -->
                                    <span th:if="${house == null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/tan.png}" style="line-height: 50px">
                                            名下房产
                                        </span>
                                        <span class="houseRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">抵押贷款时可以用做抵押</span>
                                            <span style="position: absolute;right: 10px"><a class="insertHouseA" href="javascript:insertHouseShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                    <!--                 如果房产信息不为空                   -->
                                    <span th:if="${house != null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/gou.png}" style="line-height: 50px">
                                            名下房产
                                        </span>
                                        <span class="houseRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">抵押贷款时可以用做抵押</span>
                                            <span style="position: absolute;right: 10px"><a class="insertHouseA" href="javascript:insertHouseShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                    <div id="insertHouse" style="width: 70%;margin: 0 auto;display: none">
                                        <form th:if="${house == null}" th:action="@{/user/toUploadHouse}" onsubmit="return jobSubmit()" method="post" enctype="multipart/form-data">
                                            <table cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 15px">
                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td style="text-align: right;padding-right: 12px">请上传房产登记证书</td>
                                                    <td><input type="file" name="photoFile"></td>
                                                </tr>

                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td style="text-align: right;padding-right: 12px">预估价值</td>
                                                    <td><input type="number" name="money"></td>
                                                </tr>

                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td style="text-align: right;padding-right: 12px">说明</td>
                                                    <td>
                                                        <textarea type="text" name="remark" style="width: 223px;height: 57px;margin: 17.9972px 0px 11.9886px;"></textarea>
                                                    </td>
                                                </tr>

                                                <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                    <td colspan="2" style="text-align: center">
                                                        <button type="submit" style="width: 100px;height: 30px;border-radius: 3px;border: 1px solid #ccc;background: #5189c3;color: #fff;font-size: 13px;font-weight: bold;">
                                                            提交
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>

                                        <table th:if="${house != null}" cellpadding="0" cellspacing="0" border="1px solid #ccc" style="border: 1px solid #ccc;text-align: center;margin: 20px 0">
                                            <tbody>
                                            <tr style="height: 80px;line-height: 80px">
                                                <th style="width: 130px">编号</th>
                                                <td th:text="${house.hId}" style="width: 180px">编号</td>
                                                <th style="width: 130px">照片</th>
                                                <td style="width: 180px"><img th:src="@{${house.photo}}" style="width: 100px;height: 80px"></td>
                                            </tr>
                                            <tr style="height: 80px;line-height: 80px">
                                                <th style="width: 130px">价值</th>
                                                <td th:text="${house.money} + '万'" style="width: 180px">价值</td>
                                                <th style="width: 130px">说明</th>
                                                <td th:text="${house.remark}" style="width: 180px">说明</td>
                                            </tr>
                                            <tr style="height: 80px;line-height: 80px">
                                                <th style="width: 130px">状态</th>
                                                <td style="width: 180px">
                                                    <span style="color: red" th:if="${house.status == 4}">审核</span>
                                                    <span style="color: red" th:if="${house.status == 0}">不可用</span>
                                                    <span style="color: red" th:if="${house.status == 1}">可用</span>
                                                    <span style="color: red" th:if="${house.status == 2}">已抵</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <script type="text/javascript">
                                        var show = true;

                                        function insertHouseShow() {

                                            if (show){
                                                $(".insertHouseA").text("收起");
                                                $("#insertHouse").css("display","block");
                                                $(".houseRow").css("background","#efd3c2");
                                                // document.getElementsByClassName("insertCarA").innerText = "收起";
                                                // document.getElementsByClassName("insertCar").style.display = 'block';
                                                show = false;
                                            }else {
                                                $(".insertHouseA").text("查看");
                                                $("#insertHouse").css("display","none");
                                                $(".houseRow").css("background","#fff");
                                                // document.getElementById("insertCarA").innerText = "查看";
                                                // document.getElementsByClassName("insertCar").css.display("none");
                                                show = true;
                                            }
                                        }

                                        function houseSubmit() {
                                            return true;
                                        }
                                    </script>
                                </p>



                                <p style="height: 50px;line-height: 50px;border: 1px solid #ddd">


                                    <!--                 如果工作单位为空                   -->
                                    <span th:if="${credit == null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/tan.png}" style="line-height: 50px">
                                            工作信息
                                        </span>
                                        <span class="jobRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">信用贷款时可以做为评估条件</span>
                                            <span style="position: absolute;right: 10px"><a class="insertJob" href="javascript:insertJobShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                    <!--                 如果工作单位不为空                   -->
                                    <span th:if="${credit != null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/gou.png}" style="line-height: 50px">
                                            工作信息
                                        </span>
                                        <span class="jobRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">信用贷款时可以做为评估条件</span>
                                            <span style="position: absolute;right: 10px"><a class="insertJob" href="javascript:insertJobShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                <div id="insertJob" style="width: 70%;margin: 0 auto;display: none">
                                    <form th:if="${credit == null}" th:action="@{/user/insertJob}" onsubmit="return jobSubmit()" method="post" enctype="multipart/form-data">
                                        <table cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 15px">
                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">工作单位</td>
                                                <td><input type="text" name="depart"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">月薪水平</td>
                                                <td><input type="number" name="wages"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">单位电话</td>
                                                <td><input name="phe" maxlength="11"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td colspan="2" style="text-align: center">
                                                    <button type="submit" style="width: 100px;height: 30px;border-radius: 3px;border: 1px solid #ccc;background: #5189c3;color: #fff;font-size: 13px;font-weight: bold;">
                                                        提交
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>

                                    <table th:if="${credit != null}" cellspacing="0" style="border: 1px solid #ccc;text-align: center;margin: 20px 0;width: 58%;">

                                        <tr style="height: 55px">
                                            <td style="text-align: center">工作单位:</td>
                                            <td><span style="text-align: left" type="text" th:text="${credit.depart}"></span></td>
                                        </tr>

                                        <tr style="height: 55px;">
                                            <td style="text-align: center">月薪水平:</td>
                                            <td><span style="text-align: left" type="text" th:text="${credit.wages}"></span></td>
                                        </tr>

                                        <tr style="height: 55px;">
                                            <td style="text-align: center">单位热线:</td>
                                            <td><span type="text"></span></td>
                                        </tr>
                                    </table>
                                </div>

                                <script type="text/javascript">
                                    var show = true;

                                    function insertJobShow() {

                                        if (show){
                                            $(".insertJob").text("收起");
                                            $("#insertJob").css("display","block");
                                            $(".jobRow").css("background","#efd3c2");
                                            // document.getElementsByClassName("insertCarA").innerText = "收起";
                                            // document.getElementsByClassName("insertCar").style.display = 'block';
                                            show = false;
                                        }else {
                                            $(".insertJob").text("查看");
                                            $("#insertJob").css("display","none");
                                            $(".jobRow").css("background","#fff");
                                            // document.getElementById("insertCarA").innerText = "查看";
                                            // document.getElementsByClassName("insertCar").css.display("none");
                                            show = true;
                                        }
                                    }

                                    function jobSubmit() {
                                        return true;
                                    }
                                </script>
                                </p>


                                <p style="height: 50px;line-height: 50px;border: 1px solid #ddd">


                                    <!--                 如果担保信息为空                   -->
                                    <span th:if="${warrant == null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/tan.png}" style="line-height: 50px">
                                            担保信息
                                        </span>
                                        <span class="warrantRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">担保贷款的凭证</span>
                                            <span style="position: absolute;right: 10px"><a class="insertWarrantA" href="javascript:insertWarrantShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                    <!--                 如果房产信息不为空                   -->
                                    <span th:if="${warrant != null}" style="width: 100%;display: inline-block">
                                        <span style="height: 50px;line-height: 50px;border-right: 1px solid #ddd;padding: 0 20px 0 5px;background-color: rgb(250,250,250);display: inline-block">
                                            <img th:src="@{/img/loan/gou.png}" style="line-height: 50px">
                                            担保信息
                                        </span>
                                        <span class="warrantRow" style="padding:0 5px;display: inline-block;width: 81.9%;position: relative">
                                            <span style="">抵押贷款的凭证</span>
                                            <span style="position: absolute;right: 10px"><a class="insertWarrantA" href="javascript:insertWarrantShow()" style="text-decoration: none;color: #27c">查看</a></span>
                                        </span>
                                    </span>

                                <div id="insertWarrant" style="width: 70%;margin: 0 auto;display: none">
                                    <form th:if="${warrant == null}" th:action="@{/user/toUploadWarrant}" onsubmit="return warrantSubmit()" method="post" enctype="multipart/form-data">
                                        <table cellspacing="0" cellpadding="0" style="width: 100%;margin-top: 15px">
                                            <input type="hidden" name="uId" th:value="${session.user.uId}">

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">担保人姓名</td>
                                                <td><input type="text" name="wName"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">担保人身份证</td>
                                                <td><input type="text" name="wCardId"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">请上传担保人身份证正面</td>
                                                <td><input type="file" name="wPositiveIDPhotoFile"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">请上传担保人身份证反面</td>
                                                <td><input type="file" name="wNegativeIDPhotoFile"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">请上传担保合同</td>
                                                <td><input type="file" name="wContractPhotoFile"></td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td style="text-align: right;padding-right: 12px">说明</td>
                                                <td>
                                                    <textarea type="text" name="remark" style="width: 223px;height: 57px;margin: 17.9972px 0px 11.9886px;"></textarea>
                                                </td>
                                            </tr>

                                            <tr style="height: 55px;    border-top: 1px solid #ccc;">
                                                <td colspan="2" style="text-align: center">
                                                    <button type="submit" style="width: 100px;height: 30px;border-radius: 3px;border: 1px solid #ccc;background: #5189c3;color: #fff;font-size: 13px;font-weight: bold;">
                                                        提交
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>

                                    <table th:if="${warrant != null}" cellpadding="0" cellspacing="0" border="1px solid #ccc" style="border: 1px solid #ccc;text-align: center;margin: 20px 0">
                                        <tbody>
                                        <tr style="height: 80px;line-height: 80px">
                                            <th style="width: 130px">编号</th>
                                            <td th:text="${warrant.wId}" style="width: 180px">编号</td>
                                            <th style="width: 130px">担保合同</th>
                                            <td style="width: 180px"><img th:src="@{${warrant.wContractPhoto}}" style="width: 100px;height: 80px"></td>
                                        </tr>
                                        <tr style="height: 80px;line-height: 80px">
                                            <th style="width: 130px">担保人姓名</th>
                                            <td th:text="${warrant.wName}" style="width: 180px">编号</td>
                                            <th style="width: 130px">担保人身份证号</th>
                                            <td style="width: 180px" th:text="${warrant.wCardId}"></td>
                                        </tr>
                                        <tr style="height: 80px;line-height: 80px">
                                            <th style="width: 130px">担保人身份证正面</th>
                                            <td style="width: 180px"><img th:src="@{${warrant.wPositiveIDPhoto}}" style="width: 100px;height: 80px"></td>
                                            <th style="width: 130px">担保人身份证反面</th>
                                            <td style="width: 180px"><img th:src="@{${warrant.wNegativeIDPhoto}}" style="width: 100px;height: 80px"></td>
                                        </tr>
                                        <tr style="height: 80px;line-height: 80px">
                                            <th style="width: 130px">说明</th>
                                            <td th:text="${warrant.remark}" style="width: 180px">说明</td>
                                            <th style="width: 130px">状态</th>
                                            <td style="width: 180px">
                                                <span style="color: red" th:if="${warrant.status == 0}">等待审核</span>
                                                <span style="color: red" th:if="${warrant.status == 1}">审核通过可使用</span>
                                                <span style="color: red" th:if="${warrant.status == 2}">正在使用</span>
                                                <span style="color: red" th:if="${warrant.status == 3}">使用过的担保信息</span>
                                                <span style="color: red" th:if="${warrant.status == 4}">不可用</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <script type="text/javascript">
                                    var show = true;

                                    function insertWarrantShow() {

                                        if (show){
                                            $(".insertWarrantA").text("收起");
                                            $("#insertWarrant").css("display","block");
                                            $(".warrantRow").css("background","#efd3c2");
                                            // document.getElementsByClassName("insertCarA").innerText = "收起";
                                            // document.getElementsByClassName("insertCar").style.display = 'block';
                                            show = false;
                                        }else {
                                            $(".insertWarrantA").text("查看");
                                            $("#insertWarrant").css("display","none");
                                            $(".warrantRow").css("background","#fff");
                                            // document.getElementById("insertCarA").innerText = "查看";
                                            // document.getElementsByClassName("insertCar").css.display("none");
                                            show = true;
                                        }
                                    }

                                    function warrantSubmit() {
                                        return true;
                                    }
                                </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://image.xiaoniu88.com/static/WebXn/dist/user/safety/js/init-4d458ed0f9.js"></script>
<script>
    $(function(){
        seajs.use('user/safety/js/init')
    });
</script>

<!--footer-->
<div class="footer" th:fragment="commonFooter">
    <div class="g-o" style="width:1170px">
        <ul>
            <li>
                <a target="_blank" href="javascript:;" class="til">信息披露</a>
                <a target="_blank" href="/portal/platform/index">平台数据</a>
                <a target="_blank" href="/cms/compliance/complianceAudit">合规报告</a>
                <a target="_blank" href="/portal/guide/security">风险管理</a>
                <a target="_blank" href="/cms/about/index">公司概况</a>
                <a target="_blank" href="/cms/about/contactus">联系我们</a>
            </li>
            <li>
                <a target="_blank" href="/cms/help/index" class="til">帮助中心</a>
                <a target="_blank" href="/cms/help/question/1">常见问题</a>
                <a target="_blank" href="/cms/help/question/15">项目介绍</a>
                <a target="_blank" href="/cms/help/question/24">操作演示</a>
                <a target="_blank" href="/cms/help/question/23/id/99">资费说明</a>
            </li>
            <li>
                <a target="_blank" href="/cms/help/index" class="til">新手指南</a>
                <a target="_blank" href="/cms/help/question/3">项目</a>
                <a target="_blank" href="/portal/sitemap/index">网站地图</a>

            </li>
            <li class="last ft-wm">
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/wx-e41abfcd0c.png" alt="小牛在线互联网金融平台官方微信" />
                    <span>官方微信</span>
                </p>
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/app-fc2993f46e.png" alt="专业P2P网贷平台-小牛在线APP" />
                    <span>手机客户端</span>
                </p>
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/community-43d3924ad4.jpg" alt="小牛在线兴趣部落" />
                    <span>兴趣部落</span>
                </p>
            </li>
            <li class="last">
                <p class="til-ic">全国服务热线：</p>
                <p class="bd">4006-0755-70</p>
                <p>服务时间 9:00-18:00</p>
            </li>
        </ul>
    </div>
</div>
<!--start 尾部-->
<div class="foot-bt" th:fragment="commonEnd">
    <p>Copyright &copy; 2015 深圳市小母牛在线互联网信息咨询有限公司  版权所有    备案号：<a  target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action">粤ICP备14079927号</a>&nbsp;&nbsp;<a  target="_blank" rel="nofollow" href="//image.xiaoniu88.com/static/WebXn/dist/images/footer/icp-ee0231e7d0.jpg">ICP证粤B2-20160194</a></p>
    <p>地址：广东省深圳市南山区高新园高新南一道富诚科技大厦顶楼   座机：2333－250941</p>
    <p>市场有风险 出借需谨慎 最终收益以实际为准</p>
    <span>
        <a class="lk01" href="http://www.rating.org.cn/Home/Index/itrust_certifi/wm/1061427753.html" rel="nofollow" target="_blank" title="企业信用评级"></a>
        <a class="lk08" href="http://www.rating.org.cn/Home/Index/satification_certificate/wm/MY2017120701.html" rel="nofollow" target="_blank"
           title="客户满意度评级"></a>
        <a class="lk02" href="http://www.rating.org.cn/Home/Index/rz_certifi/wm/RZ2019061401.html" rel="nofollow" title="官方网站认证" target="_blank"></a>
        <a class="lk04" href="http://szcert.ebs.org.cn/17b502b9-988c-43b1-b21e-d1008a6af37a" target="_blank" rel="nofollow" title="深圳工商主体认证信息"></a>
        <!-- <a class="lk07" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.xiaoniu88.com&lang=zh_cn"></a> -->
    </span>
</div>

<!--end 尾部-->
</body>
</html>
