<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body style="background-color: #f5f5f5">
    <div class="container">
        <ul class="breadcrumb">
            您现在的位置：
            <li><a href="#">首页</a></li>
            <li><a href="#">我的账户</a></li>
            <li class="active">信息总览</li>
        </ul>
        <div style="background-color: #fff">
            <div class="row">
                <div class="col-lg-3">
                    <div style="margin: 20px;padding:0px 10px;">
                        <div>
                            <img class="pull-left" style="height: 60px;width: 60px;" src="#">
                            <span>用户名</span>
                            <a class="label label-default" data-toggle="tooltip" data-placement="bottom" title="了解更多权益">普通用户</a>
                            <div>账户安全：<span>低</span></div>
                        </div>
                        <div>风险评估：<a>【风险测评】</a></div>
                        <div>我的积分：<a>0</a><a>【积分换礼】</a></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    2
                </div>
                <div class="col-lg-3">
                    3
                </div>

            </div>
        </div>

    </div>
</body>
</html>