<!doctype html>
<html lang="zh-cn" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>绑定网贷银行卡—小牛在线</title>

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="shortcut icon" href="http://image.xiaoniu88.com/static/WebXn/dist/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="http://image.xiaoniu88.com/static/WebXn/dist/css/base-ddb0535420.css" />
    <script type="text/javascript" src="http://image.xiaoniu88.com/static/WebXn/dist/lib/base-6100562494.js"></script>


    <script type="text/javascript" src="//image.xiaoniu88.com/static/WebXn/dist/module/common/common-83987ed24e.js"></script>
    <link rel="stylesheet" href="//image.xiaoniu88.com/static/WebXn/dist/page/payment/deposit/apply/css/apply-73c8a78781.css"/>
    <style>
        .lie{
            float: left;
            width: 100%;
            list-style-type:none;
            margin: 5px 0;
            border-bottom: 1px dashed #ccc;
            transition: 0.5s;
        }
        .lie:hover{
            border-bottom: 1px solid #ccc;
            box-shadow: 5px 5px 15px #ccc;
        }
        .lie p{
            width: 22%;
            margin: 0;
            padding: 10px 0;
            font-size: 16px;
            float: left;
            text-align: center;
        }
        .titles{
            float: left;
            width: 100%;
            list-style-type:none;
            margin: 5px 0;
            border-bottom: 1px solid #000;
        }
        .titles p{
            width: 22%;
            margin: 0;
            padding: 10px 0;
            font-size: 18px;
            float: left;
            text-align: center;
        }
        .moneyS{
            position: relative;
            width: 100%;
            text-align: center;
            color: yellow;
            font-size: 18px;
            height: 27px;
            pointer-events: none;
            top: 50%;
        }
        .moneyType{
            text-align: center;
            background-color: rgb(93,93,93);
            color: white;
            font-size: 16px;
        }
        .moneyTime{
            text-align: center;
            background-color: rgb(93,93,93);
            color: #ccc;
            height: 25px;
        }
        .moneyBao{
            width: 150px;
            height: 240px;
            float: left;
            margin: 0 25px;
        }
    </style>
    <span th:replace="/common::bootstrap"></span>

</head>
<body>
<header th:replace="/common::commonHeader"></header>
<!--导航-->
<div th:replace="/common::commonNav"></div>

<div class="container">
    <div class="g-account-main">
        <div class="path">
            您现在的位置：<span><a href="/user/toAO">我的账户</a> > 资金记录</span>
        </div>
        <div class="center user-box">
            <script src="//image.xiaoniu88.com/static/WebXn/dist/module/userNavList/js/init-09a2ab6833.js"></script>
            <!--start 我的账户左边菜单列表-->
            <div class="account-list" th:replace="/user/AccountOverview::inflist">
            </div>
            <!-- 左侧当前选中菜单 -->
            <div id="bodys" class="account-cont">
                <div class="g-tc" style="padding-top: 100px;">
                    <img src="//image.xiaoniu88.com/static/WebXn/dist/images/loading-44bbc291bc.gif" alt="加载中..." />
                </div>
            </div>
        </div>
        <div class="g-h30"></div>
    </div>
</div>
<!--end 内容-->
<script src="//image.xiaoniu88.com/static/WebXn/dist/page/payment/deposit/apply/js/apply-ea73681945.js"></script>
<!--footer-->
<div class="footer" th:fragment="commonFooter">
    <div class="g-o" style="width:1170px">
        <ul>
            <li>
                <a target="_blank" href="javascript:;" class="til">信息披露</a>
                <a target="_blank" href="/portal/platform/index">平台数据</a>
                <a target="_blank" href="/cms/compliance/complianceAudit">合规报告</a>
                <a target="_blank" href="/portal/guide/security">风险管理</a>
                <a target="_blank" href="/cms/about/index">公司概况</a>
                <a target="_blank" href="/cms/about/contactus">联系我们</a>
            </li>
            <li>
                <a target="_blank" href="/cms/help/index" class="til">帮助中心</a>
                <a target="_blank" href="/cms/help/question/1">常见问题</a>
                <a target="_blank" href="/cms/help/question/15">项目介绍</a>
                <a target="_blank" href="/cms/help/question/24">操作演示</a>
                <a target="_blank" href="/cms/help/question/23/id/99">资费说明</a>
            </li>
            <li>
                <a target="_blank" href="/cms/help/index" class="til">新手指南</a>
                <a target="_blank" href="/cms/help/question/3">项目</a>
                <a target="_blank" href="/portal/sitemap/index">网站地图</a>

            </li>
            <li class="last ft-wm">
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/wx-e41abfcd0c.png" alt="小牛在线互联网金融平台官方微信" />
                    <span>官方微信</span>
                </p>
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/app-fc2993f46e.png" alt="专业P2P网贷平台-小牛在线APP" />
                    <span>手机客户端</span>
                </p>
                <p>
                    <img src="http://image.xiaoniu88.com/static/WebXn/dist/module/footer/img/community-43d3924ad4.jpg" alt="小牛在线兴趣部落" />
                    <span>兴趣部落</span>
                </p>
            </li>
            <li class="last">
                <p class="til-ic">全国服务热线：</p>
                <p class="bd">4006-0755-70</p>
                <p>服务时间 9:00-18:00</p>
            </li>
        </ul>
    </div>
</div>
<!--start 尾部-->
<div class="foot-bt" th:fragment="commonEnd">
    <p>Copyright &copy; 2015 深圳市小母牛在线互联网信息咨询有限公司  版权所有    备案号：<a  target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action">粤ICP备14079927号</a>&nbsp;&nbsp;<a  target="_blank" rel="nofollow" href="//image.xiaoniu88.com/static/WebXn/dist/images/footer/icp-ee0231e7d0.jpg">ICP证粤B2-20160194</a></p>
    <p>地址：广东省深圳市南山区高新园高新南一道富诚科技大厦顶楼   座机：2333－250941</p>
    <p>市场有风险 出借需谨慎 最终收益以实际为准</p>
    <span>
        <a class="lk01" href="http://www.rating.org.cn/Home/Index/itrust_certifi/wm/1061427753.html" rel="nofollow" target="_blank" title="企业信用评级"></a>
        <a class="lk08" href="http://www.rating.org.cn/Home/Index/satification_certificate/wm/MY2017120701.html" rel="nofollow" target="_blank"
           title="客户满意度评级"></a>
        <a class="lk02" href="http://www.rating.org.cn/Home/Index/rz_certifi/wm/RZ2019061401.html" rel="nofollow" title="官方网站认证" target="_blank"></a>
        <a class="lk04" href="http://szcert.ebs.org.cn/17b502b9-988c-43b1-b21e-d1008a6af37a" target="_blank" rel="nofollow" title="深圳工商主体认证信息"></a>
        <!-- <a class="lk07" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.xiaoniu88.com&lang=zh_cn"></a> -->
    </span>
</div>
<!--推荐人弹窗-->
<div th:replace="/user/AccountOverview::refereer"></div>

<!--end 尾部-->
<script type="text/javascript">
    $(window).bind("load", function () {
        $("#yh").addClass("cur");
    })
    function getJilu() {
        $.post("/user/yuhui", {}, function (data) {
            var html = "";
            if(data.size != 0){
                html = "<div style='float: left;width: 90%;padding: 0 5%;'>";
                var lists = data.list;

                for(var i = 0;i<lists.length;i++){  //循环LIST
                    var veh = lists[i];
                    var money = veh.boMoney;
                    var type = typeName(veh.boType);
                    var dates = formatDateTime(veh.boTime);

                    if(veh.boType === 1){
                        html += "<div class=\"moneyBao\">\n" +
                            "                        <p class=\"moneyS\"></p>\n" +
                            "                        <a target=\"_blank\" href=\"/main/first\">\n" +
                            "                            <img src=\"/img/integral/jianli.png\" style=\"width: 100%;\">\n" +
                            "                        </a>\n" +
                            "                        <p class=\"moneyType\">"+money+"元"+type+"</p>\n" +
                            "                        <p class=\"moneyTime\">"+dates+"</p>\n" +
                            "                    </div>"
                    }else if(veh.boType === 0){
                        html += "<div class=\"moneyBao\">\n" +
                            "                        <p class=\"moneyS\">"+money+"元</p>\n" +
                            "                        <a target=\"_blank\" href=\"/main/first\">\n" +
                            "                            <img src='/img/integral/name7.jpg' style=\"width: 100%;\">\n" +
                            "                        </a>\n" +
                            "                        <p class=\"moneyType\">"+type+"</p>\n" +
                            "                        <p class=\"moneyTime\">"+dates+"</p>\n" +
                            "                    </div>"
                    }else {
                        html += "<div class=\"moneyBao\">\n" +
                            "                        <p class=\"moneyS\">"+money+"元</p>\n" +
                            "                        <a target=\"_blank\" href=\"/main/first\">\n" +
                            "                            <img src=\"/img/integral/name7.jpg\" style=\"width: 100%;\">\n" +
                            "                        </a>\n" +
                            "                        <p class=\"moneyType\">"+type+"</p>\n" +
                            "                        <p class=\"moneyTime\">"+dates+"</p>\n" +
                            "                    </div>"
                    }
                }
                html += "</div>";
            }else {
                html += "<h1 style='text-align: center;font-size: 24px'>您尚未拥有红包、体验金</h1>"
            }
            $("#bodys .g-tc").remove();
            $("#bodys").append(html);
        }, "json");
    }
    getJilu();

    function typeName(type) {
        var name = '';
        switch (type){
            case 1:name='体验金';break;
            case 2:name='返现红包';break;
            case 3:name='邀人奖励';break;
            case 4:name='理财红包';break;
            case 0:name='已使用';break;
            default:name='---';
        }
        return name;
    }

    function formatDateTime(date) {
        var time = new Date(date);
        time.setTime(time.setHours(time.getHours()));
        var Y = time.getFullYear() + '-';
        var  M = addZero(time.getMonth() + 1) + '-';
        var D =addZero(time.getDate()) + ' ';
        var h = addZero(time.getHours()) + ':';
        var m = addZero(time.getMinutes()) + ':';
        var  s = addZero(time.getSeconds());
        return Y + M + D + h+ m+ s;
    }

    // 数字补0操作
    function  addZero(num) {
        return num < 10 ? '0' + num : num;
    }
</script>
</body>
</html>