<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>页头</title>
</head>
<body>
<div class="header" data-aspm="c37338" data-aspm-expo>
    <div class="header-inner-wrap fn-clear">
        <a th:href="@{/loan/main}" data-aspm-click="d75308">
            <img class="fn-left logo" th:src="@{/img/loan/log6.png}">
        </a>
        <div class="fn-right others fn-clear">
            <a href="" data-aspm-click="d75309" target="_blank">帮助大厅</a>
            <a href="##"><img class="phone fn-left" src='//img.alicdn.com/tps/TB16.HXLXXXXXcxXVXXXXXXXXXX-28-32.png' data-aspm-click="d75310">95188-3</a>
        </div>
    </div>

</div>
</body>
</html>